<p-card styleClass="forgot-password-card" [formGroup]="form">
    <h2 class="title">
        {{ 'pages.forgot-password.title' | translate }}
    </h2>
    <p class="subtitle hidden">
        {{ 'pages.signin.subtitle' | translate }}
    </p>

    <div class="form">

        <ng-container *ngIf="formError">
            <span class="error block mb-2">
                {{ formError | translate }}
            </span>
        </ng-container>

        <div class="mb-2">
            <label for="email" class="text-500 text-sm">
                {{ 'pages.signin.forms.email' | translate }}
            </label>
            <input id="email" type="text" class="w-full" pInputText [placeholder]="'pages.signin.forms.email' | translate" formControlName="email" />
        </div>

        <div class="flex row mt-4">
            <!-- create account button -->
            <button class="auth-button signup-button p-button-outlined flex-1 mr-2" pButton [label]="'pages.forgot-password.buttons.cancel' | translate" (click)="redirectSignIn()"></button>
            <!-- signin button -->
            <button class="auth-button signin-button flex-1 ml-2" pButton pRipple (click)="signin()" [disabled]="loading">
                <div class="flex flex-row justify-content-center align-items-center w-full">
                    <span *ngIf="loading"
                        class="p-button-icon p-button-icon-left p-button-loading-icon pi pi-spinner pi-spin"
                        aria-hidden="true"></span>
                    {{ 'pages.forgot-password.buttons.reset-password' | translate }}
                </div>

            </button>
        </div>

    </div>

</p-card>