<p-card styleClass="signin-card">

    <div *ngIf="type !== 'sso'" (click)="onDevInfoClick()" tooltipPosition="bottom" pTooltip="Fill test dev user credentials" tooltipStyleClass="w-1" class="devInfoButton font-bold">
        DEV
    </div>

    <!-- form loading -->
    <ng-container *ngIf="!(showForm$ | async) && !clientError">
        <div class="flex flex-row justify-content-center align-items-center" style="height: 336px;">
            <i class="pi pi-spinner spin text-7xl"></i>
        </div>
    </ng-container>

    <!-- client error -->
    <ng-container *ngIf="clientError">
        <div class="flex flex-column justify-content-center align-items-center" style="height: 336px;">
            <h2 class="title">{{ clientError.error | translate }}</h2>
            <p class="subtitle">{{ clientError.error_description }}</p>
        </div>
    </ng-container>

    <ng-container *ngIf="(showForm$ | async) && !clientError">
        <!-- card title -->
        <ng-container *ngIf="type !== 'reauth' && type !== 'sso'">
            <h2 class="title">
                {{ 'pages.signin.title' | translate }}
            </h2>
            <p class="subtitle">
                {{ 'pages.signin.subtitle' | translate }}
            </p>
        </ng-container>
        <ng-container *ngIf="type === 'reauth'">
            <h2 class="title">
                {{ 'pages.signin.confirm-your-password.title' | translate }}
            </h2>
            <p *ngIf="session$ | async as session" class="subtitle">
                {{ 'pages.signin.confirm-your-password.subtitle' | translate: { username: session.username} }}
            </p>
        </ng-container>
        <ng-container *ngIf="type === 'sso'">
            <h2 class="title">
                Sign in with SAML SSO
            </h2>
            <p class="subtitle">
                If your organization has SSO enabled, enter the e-mail address that you use in the organization.
            </p>

            <span class="text-red block mb-2 mt-2">
                Not available yet.
            </span>
        </ng-container>

        <!-- login form -->
        <div *ngIf="type !== 'reauth' && type !== 'sso'" class="form" [formGroup]="authForm">

            <!-- login error -->
            <ng-container *ngIf="error$ | async">
                <span class="error block mb-2">
                    {{ (error$ | async) | translate }}
                </span>
            </ng-container>

            <!-- email -->
            <div class="mb-2">
                <label for="email" class="text-500 text-sm auth-form-label flex justify-content-between align-items-center pr-2">
                    <span>{{ 'pages.signin.forms.email' | translate }}</span>

                    <small *ngIf="hasError('email') || !checkValidEmail" class="p-error uppercase">
                        {{ !checkValidEmail ? 'Invalid organization email' : hasError('email', 'required') ? 'Email required' : hasError('email', 'email') ? 'Email invalid' : null }}
                    </small>
                </label>
                <div class="relative">
                    <input id="email" type="text" class="w-full" pInputText [class.ng-invalid]="hasError('email') || !checkValidEmail" [placeholder]="'pages.signin.forms.email' | translate" [ngStyle]="showOrganizationDomain ? {'padding-right': (organization.domain.length + 1) * 10 + 'px'} : {}" formControlName="email" />
                    <span class="absolute h-full flex flex-row align-items-center right-0 top-0 pr-2" *ngIf="showOrganizationDomain">
                        @{{ organization.domain}}
                    </span>
                </div>
            </div>

            <!-- password -->
            <div class="mb-2">
                <label for="password" class="text-500 text-sm auth-form-label">
                    {{ 'pages.signin.forms.password' | translate }}
                </label>
                <input id="password" type="password" class="w-full" pInputText [placeholder]="'pages.signin.forms.password' | translate" formControlName="password" />
            </div>

            <div class="flex flex-row">
                <a class="text-sm cursor-pointer hover:underline" (click)="$event.preventDefault(); redirectForgotPassword();">Forgot password</a>
            </div>

            <!-- buttons -->
            <div class="flex flex-column mt-4">
                <!-- signin button -->
                <button class="auth-button signin-button mb-3" pButton pRipple (click)="signin()" [disabled]="loading$ | async">
                    <div class="flex flex-row justify-content-center align-items-center w-full">
                        <span *ngIf="loading$ | async" class="p-button-icon p-button-icon-left p-button-loading-icon pi pi-spinner pi-spin" aria-hidden="true"></span>
                        {{ 'pages.signin.buttons.signin' | translate }}
                    </div>
                </button>

                <!-- create account button -->
                <button class="auth-button signup-button p-button-outlined" pButton [label]="'pages.signin.buttons.create-account' | translate" (click)="redirectSignUp()"></button>
            </div>

        </div>

        <!-- reauth form -->
        <div *ngIf="type === 'reauth'" class="form" [formGroup]="reauthForm">

            <!-- reauth error -->
            <ng-container *ngIf="error$ | async">
                <span class="error block mb-2">
                    {{ (error$ | async) | translate }}
                </span>
            </ng-container>

            <!-- password -->
            <div class="mb-2">
                <label for="password" class="text-500 text-sm">
                    {{ 'pages.signin.forms.password' | translate }}
                </label>
                <input id="password" type="password" class="w-full" pInputText [placeholder]="'pages.signin.forms.password' | translate" formControlName="password" />
            </div>

            <div class="flex flex-row">
                <span class="text-sm text-blue-500 cursor-pointer hover:underline" (click)="redirectForgotPassword()">Forgot password</span>
            </div>


            <div class="flex flex-row mt-4">
                <!-- reauth button -->
                <button class="auth-button signin-button flex-1 ml-2" pButton pRipple (click)="reauthClick()" [disabled]="loading$ | async">
                    <div class="flex flex-row justify-content-center align-items-center w-full">
                        <span *ngIf="loading$ | async"
                            class="p-button-icon p-button-icon-left p-button-loading-icon pi pi-spinner pi-spin"
                            aria-hidden="true"></span>

                        <i *ngIf="!(loading$ | async)" class="pi pi-lock mr-2"></i>
                        {{ 'continue' | translate }}
                    </div>

                </button>
            </div>

        </div>

        <!-- sso form -->
        <div *ngIf="type === 'sso'" class="form" [formGroup]="ssoForm">

            <!-- sso error -->
            <ng-container *ngIf="error$ | async">
                <span class="error block mb-2">
                    {{ (error$ | async) | translate }}
                </span>
            </ng-container>

            <!-- email -->
            <div class="mb-2">
                <label for="organization" class="text-500 text-sm">
                    Organization email
                </label>
                <input id="organization" type="text" class="w-full" pInputText placeholder="your.name@company.com" formControlName="organization" />
            </div>

            <div class="flex flex-row mt-4">
                <!-- signin button -->
                <button class="auth-button signin-button flex-1 ml-2" pButton pRipple (click)="ssoClick()" [disabled]="true">
                    <div class="flex flex-row justify-content-center align-items-center w-full">
                        <span *ngIf="loading$ | async" class="p-button-icon p-button-icon-left p-button-loading-icon pi pi-spinner pi-spin" aria-hidden="true"></span>
                        <i *ngIf="!(loading$ | async)" class="pi pi-lock mr-2"></i>
                        {{ 'pages.signin.buttons.signin' | translate }}
                    </div>

                </button>
            </div>

        </div>

        <ng-container *ngIf="type !== 'sso'">
            <div class="divider mt-5">
                <span></span>
                <p>
                    {{ 'pages.signin.or-continue-with' | translate }}
                </p>
                <span></span>
            </div>
    
            <div class="socials flex flex-row justify-content-center">
                <button (click)="authWithProvider('discord')" pButton pRipple class="social-button discord-bg border-0 transition-colors transition-duration-200 p-button-icon-only" icon="pi pi-discord"></button>
                <button (click)="authWithProvider('google')" pButton pRipple class="social-button google-bg border-0 transition-colors transition-duration-200 p-button-icon-only" icon="pi pi-google"></button>
                <button (click)="authWithProvider('twitter')" pButton pRipple class="social-button twitter-bg border-0 transition-colors transition-duration-200 p-button-icon-only" icon="pi pi-twitter"></button>
            </div>
        </ng-container>

        <!-- <div *ngIf="type === 'auth'" class="flex flex-row justify-content-center mt-3">
            <span class="text-base text-blue-500 cursor-pointer hover:underline" (click)="switchToSamlSSO()">Sign in with SAML SSO</span>
        </div> -->

        <div *ngIf="type === 'sso'" class="flex flex-row justify-content-center mt-3">
            <span class="text-base text-blue-500 cursor-pointer hover:underline" (click)="switchToAuth()">Sign in with provider or password</span>
        </div>

        <div class="flex flex-row justify-content-end pt-5">
            <a class="ml-2 text-sm" routerLink="/admin/signin">Admin</a>
            <a class="ml-2 text-sm" routerLink="/support">Support</a>
            <a class="ml-2 text-sm" routerLink="/terms-of-service">Terms of Service</a>
        </div>
    </ng-container>
</p-card>