<main class="main p-2">
    <div class="relative w-full">

        <div class="flex flex-row align-items-start">

            <!-- LEFT CARD WITH NAVIGATION LINKS -->
            <div class="rk_accounts__card sticky top-6 mr-4 hidden lg:flex">
                <div class="p-3">
                    <div class="page-nav flex flex-column">
    
                        <div class="mb-3" *ngFor="let menuItem of menu">
                            <div class="flex flex-row align-items-center text-xl font-medium">
                                {{ menuItem.label }}
                            </div>
            
                            <ng-container *ngFor="let menuSubItem of menuItem.items">
                                <div class="nav-link flex flex-row align-items-center text-sm font-medium my-2" [routerLink]="menuSubItem.routerLink" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
                                    <i class="{{ menuSubItem.icon }} text-xl mr-2"></i> {{ menuSubItem.label }}
                                </div>
                            </ng-container>
                        </div>
            
                    </div>
                </div>
            </div>
    
            <!-- RIGHT CARD WITH CONTENT -->
            <div class="w-full">
                <ng-content></ng-content>
            </div>
        </div>

    </div>
</main>