<header class="header p-2 lg:p-8 w-12 lg:w-10">
    <img class="cursor-pointer" src="/assets/images/logo/logo-beta-dark-admin.svg" height="40px" routerLink="/admin/dashboard" />

    <div class="user-box flex flex-row" *ngIf="session$ | async as session">
        <div class="flex flex-row align-items-center justify-content-center">
            <img class="avatar mr-2" [src]="session.picture" /> {{ session.username }} ({{ session.role }})

        </div>

        <div class="links ml-4">
            <button pButton class="p-button-outlined mr-2" (click)="logoutLocal()">Logout</button>
            <button pButton class="p-button-outlined" (click)="logoutSession()">End Session</button>
        </div>
    </div>
</header>

<main class="main p-2 lg:p-8 w-12 lg:w-10">
    <div class="page-box flex flex-column justify-content-between">
        <div class="page-header"></div>
        <div class="flex flex-row align-items-center pt-6 z-3">
            <div class="font-bold text-4xl">
                <ng-content select=".title"></ng-content>
            </div>
        </div>

    </div>

    <div class="relative">

        <p-card styleClass="app-card page-card">

            <div class="flex flex-column lg:flex-row">

                <div class="card-nav flex flex-column">
                    <div class="card-link flex flex-row align-items-center text-sm font-medium" routerLink="/admin/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="pi pi-home text-xl mr-2"></i> Dashboard
                    </div>

                    <div class="card-link flex flex-row align-items-center text-sm font-medium" routerLink="/admin/accounts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="pi pi-users text-xl mr-2"></i> Accounts
                    </div>

                    <div class="card-sub-link flex flex-row align-items-center text-sm font-medium" routerLink="/admin/accounts/create" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="pi pi-plus text-sm mr-2"></i> Create account
                    </div>

                    <div class="card-sub-link flex flex-row align-items-center text-sm font-medium" routerLink="/admin/accounts/sessions" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="pi pi-database text-sm mr-2"></i> Sessions
                    </div>

                    <div class="card-link flex flex-row align-items-center text-sm font-medium" routerLink="/admin/apps" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="pi pi-table text-xl mr-2"></i> Apps
                    </div>

                    <div class="card-link flex flex-row align-items-center text-sm font-medium" routerLink="/admin/oauth" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="pi pi-server text-xl mr-2"></i> OAuth
                    </div>

                    <div class="card-sub-link flex flex-row align-items-center text-sm font-medium" routerLink="/admin/oauth/scopes" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="pi pi-lock text-sm mr-2"></i> Scopes
                    </div>

                    <div class="card-sub-link flex flex-row align-items-center text-sm font-medium" routerLink="/admin/oauth/groups" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="pi pi-check-square text-sm mr-2"></i> Groups
                    </div>

                    <div class="card-link flex flex-row align-items-center text-sm font-medium" routerLink="/admin/settings" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="pi pi-cog text-xl mr-2"></i> Settings
                    </div>

                </div>

                <div class="card-content w-12">
                    <ng-content></ng-content>
                </div>

            </div>
        </p-card>
    </div>
</main>