.main {
    max-width: 1800px;
    height: 680px;
    min-height: calc(100vh - 160px - 64px);
    margin: 0 auto;
    padding-top: 0 !important;
}

.header {
    height: 85px;
    width: 100%;
    max-width: 1800px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 0 auto;
    flex: none;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    .user-box {
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 200;
        cursor: pointer;
        color: black;
        .avatar {
            border-radius: 50px;
            width: 32px;
            height: 32px;
        }
        .links {
            button {
                color: black;
                box-shadow: none;
            }
        }
    }
}

.page-box {
    min-height: 230px;
    box-sizing: border-box;
    .page-header {
        background: linear-gradient( 121.55deg, #0b30a9 17.34%, #052283 113.19%);
        width: 100%;
        z-index: 0;
        position: absolute;
        height: 200px;
        left: 0;
    }
}

::ng-deep {
    .page-card {
        margin-top: -100px;
        padding: 0;
        .p-card-body {
            padding: 0;
            .card-nav {
                min-width: 250px;
                margin-left: -1px;
                padding-top: 1rem;
            }
            .card-content {
                padding: 1rem;
            }
            .card-link {
                padding: 0.7rem 1rem;
                border-left: 4px solid transparent;
                margin-bottom: 5px;
                cursor: pointer;
                margin-left: 1rem;
                border-radius: 8px;
                &.active {
                    border-left: 4px solid #0b30a9;
                    font-weight: 800 !important;
                    color: #0b30a9;
                }
                &:hover {
                    background: rgba(0, 0, 0, 0.1);
                }
            }
            .card-sub-link {
                padding: 0.4rem 1rem;
                border-left: 4px solid transparent;
                margin-bottom: 5px;
                cursor: pointer;
                margin-left: 3rem;
                border-radius: 8px;
                &.active {
                    border-left: 4px solid #0b30a9;
                    font-weight: 800 !important;
                    color: #0b30a9;
                }
                &:hover {
                    background: rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}