.main {
    max-width: 1800px;
    min-height: calc(100vh - 160px - 64px);
    margin: 0 auto;
    padding-top: 0 !important;
}

.header {
    height: 85px;
    width: 100%;
    max-width: 1800px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 0 auto;
    flex: none;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    .user-box {
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 200;
        cursor: pointer;
        color: black;
        .avatar {
            border-radius: 50px;
            width: 32px;
            height: 32px;
        }
        .links {
            button {
                color: black;
                box-shadow: none;
            }
        }
    }
}

.page-nav {
    min-width: 200px;
    .nav-link {
        padding: 0.7rem 1rem;
        border-left: 4px solid transparent;
        margin-bottom: 5px;
        cursor: pointer;
        border-radius: 8px;
        color: white;
        &.active {
            border-left: 4px solid var(--primary-color);
            font-weight: 800 !important;
        }
        &:hover {
            background: rgba(0, 0, 0, 0.1);
        }
    }
    .nav-sub-link {
        padding: 0.4rem 1rem;
        border-left: 4px solid transparent;
        margin-bottom: 5px;
        cursor: pointer;
        margin-left: 3rem;
        border-radius: 8px;
        color: white;
        &.active {
            border-left: 4px solid #6f6aef;
            font-weight: 800 !important;
        }
        &:hover {
            background: rgba(0, 0, 0, 0.1);
        }
    }
}
