.header {
  height: 100px;
  width: 100%;
  max-width: 1228px;
  padding: 0 64px;
  margin: 0 auto;
  flex: none;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
