.settings-page ::ng-deep {
    .p-tabview {
        .p-tabview-nav li .p-tabview-nav-link {
            padding: 0.8rem;
        }
        .p-tabview-panels {
            padding-left: 0;
            padding-right: 0;
        }
    }
}