.git
production.env
development.env

status-page/**/*
!status-page/dev/.gitkeep
!status-page/prod/.gitkeep

nginx/**/*.conf
nginx/**/ssl/*.pem
nginx/**/ssl/*.key

mysql/*/*

!mysql/**/.gitkeep

api/sessions/*.json
api/**/*.pem
api/**/*.key
api/**/*.crt
!api/**/env.example

cdn/**/node_modules

.vscode