<div class="page-box flex flex-column justify-content-between">
  <div class="page-header">
    <div class="container w-11 lg:w-10">
      <div class="account-box flex flex-row align-items-center">
        <div class="account-avatar">
          <img
            class="w-full"
            [src]="
              account
                ? account.picture
                : '/assets/images/avatars/guest-avatar.png'
            "
          />
          <div class="change-avatar-layer">
            <div class="change-button">Change</div>
          </div>
          <div class="change-avatar-button">
            <i class="pi pi-pencil"></i>
          </div>
        </div>
        <div class="account-info">
          <span class="font-medium text-2xl">
            {{ account ? account.username : "Guest" }}
          </span>
        </div>
      </div>
      <div class="nav">
        <ng-container *ngFor="let navItem of navigation">
          <div
            class="nav-link flex flex-row align-items-center text-sm font-medium my-2"
            [routerLink]="navItem.routerLink"
            routerLinkActive="active"
          >
            <i class="{{ navItem.icon }} text-xl mr-2"></i>
            {{ navItem.label }}
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div class="container w-11 lg:w-10 mt-5">
  <div class="relative">
    <div class="flex flex-row align-items-start">
      <!-- RIGHT CARD WITH CONTENT -->
      <div class="w-full">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
