<div class="page-box flex flex-column justify-content-between">
    <div class="page-header"></div>
    <!-- <div class="flex flex-row align-items-center pt-6 z-3">
        <div class="font-bold text-4xl">
            <ng-content select=".title"></ng-content>
        </div>
    </div> -->

</div>

<div class="relative">
    <div class="account-box flex flex-row align-items-center">
        <div class="account-avatar">
            <img class="w-full" [src]="account ? account.avatar : '/assets/images/avatars/guest-avatar.png'" />
            <div class="change-avatar-layer">
                <div class="change-button">
                    Change
                </div>
            </div>
            <div class="change-avatar-button">
                <i class="pi pi-pencil"></i>
            </div>
        </div>
        <div class="account-info">
            <span class="font-medium text-2xl">
                {{ account ? account.username : 'Guest' }}
            </span>
        </div>
    </div>

    <div class="flex flex-row align-items-start">

        <div class="rk_accounts__card sticky top-7 mr-4 hidden lg:flex">
            <div class="p-3">
                <div class="page-nav flex flex-column">

                    <div class="mb-3" *ngFor="let menuItem of menu">
                        <div class="flex flex-row align-items-center text-xl font-medium">
                            {{ menuItem.label }}
                        </div>
        
                        <ng-container *ngFor="let menuSubItem of menuItem.items">
                            <div class="nav-link flex flex-row align-items-center text-sm font-medium my-2" [routerLink]="menuSubItem.routerLink" routerLinkActive="active">
                                <i class="{{ menuSubItem.icon }} text-xl mr-2"></i> {{ menuSubItem.label }}
                            </div>
                        </ng-container>
                    </div>
        
        
                    <!-- <div class="nav-link flex flex-row align-items-center text-sm font-medium" routerLink="/account/apps" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="pi pi-table text-xl mr-2"></i> Apps
                    </div>
        
                    <div class="nav-sub-link flex flex-row align-items-center text-sm font-medium" routerLink="/account/apps/create" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="pi pi-plus text-sm mr-2"></i> Create app
                    </div>
        
                    <div class="nav-link flex flex-row align-items-center text-sm font-medium" routerLink="/account/sessions" routerLinkActive="active">
                        <i class="pi pi-lock text-xl mr-2"></i> Sessions
                    </div> -->
        
                </div>
            </div>
        </div>



        <div class="page-content">
            <ng-content></ng-content>
        </div>

    </div>


</div>