        <ng-container *ngIf="sessions$ | async as sessions">
            <div *ngIf="sessions.length" class="user-box flex flex-row relative" >

                <div *ngIf="sessionCurrent$ | async as sessionCurrent" class="user-box-content flex flex-row align-items-center justify-content-center font-medium">
                    <img class="avatar mr-2" [src]="sessionCurrent.account.picture" /> {{ sessionCurrent.account.username }} <i class="pi pi-angle-down ml-2"></i>
                </div>

                <div  *ngIf="!(sessionCurrent$ | async)" class="user-box-content flex flex-row align-items-center justify-content-center font-medium">
                    <img class="avatar mr-2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOLyQASSQXMWt2rr0kd_QbNnXRD1ZL7fR18-MDfYWK_P_IUgPf31Ih_8in92FprzKita0&usqp=CAU" /> <i class="pi pi-angle-down ml-2"></i>
                </div>

                <div class="user-box-menu rounded-sm">
                    <div *ngIf="sessionCurrent$ | async as sessionCurrent" class="current-account p-3 flex flex-column align-items-center border-bottom-1 border-white-alpha-20">
                        <img class="avatar mb-3" [src]="sessionCurrent.account.picture" />
                        <span class="font-medium text-lg">{{ sessionCurrent.account.username }}</span>
                        <!-- <small class="font-medium text-white-alpha-50" *ngIf="isDevelop">ID: {{ account.uuid }}</small>
                        <small class="font-medium text-white-alpha-50" *ngIf="isDevelop">ROLE: {{ account.role }}</small> -->
                        <span class="text-sm">{{ sessionCurrent.account.email }}</span>

                        <div class="buttons flex flex-row justify-content-center p-1 font-medium mt-2 w-full">
                            <div class="flex flex-row align-items-center justify-content-center px-3 py-2 rounded-sm hover:bg-black-alpha-10 cursor-pointer border-1 border-white-alpha-50 font-medium" (click)="logout()">Logout</div>
                            <div *ngIf="sessionCurrent.account.role === 'admin'" class="flex flex-row align-items-center justify-content-center px-3 py-2 rounded-sm hover:bg-black-alpha-10 cursor-pointer border-1 border-white-alpha-50 font-medium" routerLink="/admin">
                                Admin <i class="pi pi-external-link text-sm ml-2"></i>
                            </div>
                            <div class="flex flex-row align-items-center justify-content-center px-3 py-2 rounded-sm hover:bg-black-alpha-10 cursor-pointer border-1 border-white-alpha-50 font-medium" routerLink="/account/general">
                                Account <i class="pi pi-external-link text-sm ml-2"></i>
                            </div>
                        </div>
                    </div>
                    <div class="other-accounts flex flex-column p-2 border-bottom-1 border-white-alpha-20" *ngIf="sessionsOther$ | async as sessionsOther">
                        <div *ngFor="let session of sessionsOther" (click)="changeSession(session.uuid)" class="other-account rounded-sm hover:bg-black-alpha-10 p-3 flex flex-row">
                            <div class="flex flex-row align-items-center flex-1">
                                <img class="sessions-avatar mr-2" [src]="session.account.picture" />
                                <div class="flex flex-column">
                                    <span class="font-bold line">{{ session.account.username }}</span>
                                    <span class="font-light line" [title]="session.account.email">{{ session.account.email }}</span>
                                </div>
                            </div>

                            <div class="switch-account flex justify-content-center align-items-center">
                                <i class="pi pi-arrows-v text-lg"></i>
                            </div>
                            <!-- <small class="font-medium text-white-alpha-50" *ngIf="isDevelop">ID: {{ account.uuid }}</small>
                            <small class="font-medium text-white-alpha-50" *ngIf="isDevelop">ROLE: {{ account.role }}</small> -->
                        </div>
                        <div (click)="addNextAccount()" class="add-account rounded-sm hover:bg-black-alpha-10 px-3 py-1 flex flex-row align-items-center cursor-pointer">
                            <div class="icon flex justify-content-center align-items-center mr-2">
                                <i class="pi pi-plus"></i>
                            </div>
                            <span class="font-medium">Add next account</span>
                        </div>
                    </div>

                    <div class="px-2 py-4 flex flex-row justify-content-center">
                        <div class="p-3 rounded-sm hover:bg-black-alpha-10 cursor-pointer border-1 border-white-alpha-50 font-medium">
                            Logout from all accounts
                        </div>
                    </div>
                </div>

                <div class="user-box-overlay"></div>
            </div>
        </ng-container>
