<footer class="footer">
    <span class="copyrights mb-2">{{ 'copyright' | translate }}</span>

    <div class="flex flex-row">
        <div class="links">
            <a routerLink="/admin">Admin</a>
            <a routerLink="/debug">Debug</a>
            <a routerLink="/support">{{ 'support' | translate }}</a>
            <a routerLink="/privacy-notice">{{ 'privacypolicy' | translate }}</a>
            <a routerLink="/tos">{{ 'termsofservice' | translate }}</a>
        </div>
    
        <select class="language">
            <option value="en">
                English
            </option>
            <option value="pl">
                Polish
            </option>
            <option value="de">
                German
            </option>
        </select>
    </div>
</footer>