<div [formGroup]="form">
    <div class="mb-4">
        <label for="email" class="flex justify-content-between align-items-center text-sm text-500 font-medium mb-0 pr-2">
            <span>Email <span class="text-red">*</span></span>
            <small *ngIf="hasError('email')" class="p-error uppercase">
                {{ hasError('email', 'required') ? 'Email required' : null }}
                {{ hasError('email', 'email') ? 'Email invalid' : null }}
            </small>
        </label>
        <input pInputText id="email" class="w-full mt-1" formControlName="email" />
    </div>

    <button (click)="addEmail()" pButton label="Add email" class="w-full p-button-lg"></button>
</div>