<div [formGroup]="form">
    <div class="mb-3">
        <label for="scope-name" class="flex justify-content-between align-items-center text-sm text-500 font-medium mb-0 pr-2">
            <span>Scope name <span class="text-red">*</span></span>
            <small *ngIf="formService.hasError(form, 'name')" class="p-error uppercase">
                {{ formService.hasError(form, 'name', 'required') ? 'Scope required' : null }}
            </small>
        </label>
        <input pInputText id="scope-name" class="w-full mt-1" formControlName="name" />
    </div>

    <div class="mb-4">
        <p-checkbox [binary]="true" [value]="false" formControlName="default" label="Default"></p-checkbox>
    </div>

    <div class="mb-4">
        <p-checkbox [binary]="true" [value]="false" formControlName="system" label="System"></p-checkbox>
    </div>

    <button (click)="createScope()" pButton label="Create" class="w-full p-button-lg"></button>
</div>