<app-account-page>
    <div class="rk_accounts__card">
        <div class="card__header flex flex-row align-items-center">
            <button pButton class="p-button-outlined p-button-sm rounded-full w-2rem h-2rem border-white text-white mr-3" icon="pi pi-arrow-left" routerLink="/account/apps"></button>
            <div *ngIf="app" class="flex flex-column">
                <h2 class="my-0">{{ app.name }}</h2>
                <small>Client ID: {{ app.client_id }}</small>
                <small *ngIf="app.secret">Client Secret: {{ app.secret }}</small>
            </div>
        </div>
        <div class="card__content">
            <section class="w-12 lg:w-8" [formGroup]="form">
                <div class="mb-2">
                    <label for="name" class="text-white-alpha-90 text-sm">
                        Name <span class="text-red">*</span>
                    </label>
                    <input pInputText id="name" class="w-full mt-1" formControlName="name" />
                </div>

                <div class="mb-2">
                    <label for="description" class="text-white-alpha-90 text-sm">
                        Description <small>(optional)</small>
                    </label>
                    <textarea pInputTextarea [autoResize]="true" [rows]="4" formControlName="description" id="description" class="w-full mt-1"></textarea>
                </div>

                <div class="mb-2">
                    <label for="description" class="text-white-alpha-90 text-sm">
                        Type <span class="text-red">*</span>
                    </label>
                    <p-selectButton styleClass="mt-2" [options]="types" formControlName="type" optionLabel="name" optionValue="value">
                    </p-selectButton>
                </div>

                <div class="mb-2">
                    <label for="website" class="text-white-alpha-90 text-sm">
                        Website <small>(optional)</small>
                    </label>
                    <input pInputText id="website" class="w-full mt-1" formControlName="website" placeholder="https://"/>
                </div>

                <div class="mb-2">
                    <label for="privacy_policy" class="text-white-alpha-90 text-sm">
                        Privacy Policy URI <small>(optional)</small>
                    </label>
                    <input pInputText id="privacy_policy" class="w-full mt-1" formControlName="privacy_policy" />
                </div>

                <div class="mb-2">
                    <label for="tos" class="text-white-alpha-90 text-sm">
                        Terms of Service URI <small>(optional)</small>
                    </label>
                    <input pInputText id="tos" class="w-full mt-1" formControlName="tos" />
                </div>

                <div class="mb-4 form-chips">
                    <label for="redirect_uris" class="text-white-alpha-90 text-sm">
                        Redirect URI's <span class="text-red">* <small>(minimum one)</small></span>
                    </label>
                    <p-chips formControlName="redirect_uris" placeholder="https:// or scheme://" styleClass="w-full mt-1"></p-chips>
                </div>

                <button (click)="updateClient()" pButton label="Update"></button>
            </section>
        </div>
    </div>
</app-account-page>