<p-card styleClass="signin-card">




    <h2 class="title">
        Complete Connect Provider
    </h2>
    <p class="subtitle">
        We need your email to complete connect this provider to your account.
    </p>

    <div class="form" [formGroup]="form">

        <ng-container *ngIf="error$ | async">
            <span class="error block mb-2">
                {{ (error$ | async) | translate }}
            </span>
        </ng-container>

        <div class="mb-2">
            <label for="email"
                class="text-500 text-sm auth-form-label flex justify-content-between align-items-center pr-2">
                <span>{{ 'pages.signin.forms.email' | translate }}</span>

                <small *ngIf="hasError('email')" class="p-error uppercase">
                    {{ hasError('email', 'required') ? 'Email required' : hasError('email', 'email') ? 'Email invalid' :
                    null }}
                </small>
            </label>
            <div class="relative">
                <input id="email" type="text" class="w-full" style="padding-right: 8rem;" pInputText [class.ng-invalid]="hasError('email')" [placeholder]="'pages.signin.forms.email' | translate" formControlName="email" />
                <div class="absolute right-0 top-0 h-full flex flex-row align-items-center pr-2">
                    <button pButton class="p-button-sm py-2" label="Send code" (click)="sendCode()"></button>
                </div>
            </div>
        </div>

        <div *ngIf="showCodeInput" class="mb-2">
            <label for="code" class="text-500 text-sm auth-form-label flex justify-content-between align-items-center pr-2">
                <span>Code</span>
                <small *ngIf="hasError('code')" class="p-error uppercase">
                    {{ hasError('code', 'required') ? 'Code required' : null }}
                </small>
            </label>
            <div class="relative">
                <input id="code" type="text" class="w-full" pInputText [class.ng-invalid]="hasError('code')" [placeholder]="'Code'" formControlName="code" />
            </div>
        </div>

        <div class="flex flex-column mt-4">
            <!-- signin button -->
            <button class="auth-button signin-button mb-3" pButton pRipple (click)="completeSignup()"
                [disabled]="(loading$ | async) || !showCodeInput">
                <div class="flex flex-row justify-content-center align-items-center w-full">
                    <span *ngIf="loading$ | async"
                        class="p-button-icon p-button-icon-left p-button-loading-icon pi pi-spinner pi-spin"
                        aria-hidden="true"></span>
                    Complete
                </div>
            </button>

        </div>

    </div>



    <div class="flex flex-row justify-content-center mt-3">
        <span class="text-base text-blue-500 cursor-pointer hover:underline" (click)="redirectSignIn()">Back to sign in</span>
    </div>



</p-card>