.footer {
    min-height: 64px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    color: #dae2ea;
    font-family: 'Poppins Light';
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    width: 100%;
    max-width: 1228px;
    padding: 0 64px;
    margin: 0 auto;
    flex: none;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    .links {
        margin: 0 24px;
        a {
            margin-right: 24px;
            text-decoration: none;
            color: inherit;
            font-family: 'Poppins Medium';
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .language {
        font: inherit;
        background: transparent;
        color: inherit;
        outline: none;
        border: none;
        text-align-last: right;
        padding-right: 10px;
        width: 100px;
    }
}