.apps {
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    .app-box {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
        max-width: 160px;
        border-radius: 8px;
        background-color: #8a8a8a1a;
        padding: 10px;
        &:hover {
            transform: scale(1.05);
            background-color: #8a8a8a2a;
            background-image: none;
            -webkit-box-shadow: 0 8px 16px rgb(0 0 0 / 20%);
            box-shadow: 0 8px 16px rgb(0 0 0 / 20%);
        }
        img {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }
        .app-name {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 16px;
            font-weight: 500;
        }
    }
}