<app-account-page>

    <div class="rk_accounts__card">
        <div class="card__header flex flex-row justify-content-between align-items-center">
            <div>
                <h2 class="my-0">My Applications</h2>
                <div class="subtitle mt-2">List of all yours OAuth2 applications</div>
            </div>
            <button pButton class="p-button-sm bg-white text-black-alpha-90 font-bold uppercase" label="Create app" routerLink="/account/apps/create"></button>
        </div>
        <div class="card__content">
            <section class="flex flex-column align-items-start">

                <!-- <div class="mb-2 text-sm font-medium">Client Secret:
                    <ng-container *ngIf="app.secret">
                        <span pTooltip="Click to copy" class="hidden font-bold mr-2 cursor-pointer" (click)="copyToClipboard(app.secret)">{{
                            app.secret }}</span>
                        <a pStyleClass="@prev" toggleClass="hidden" class="text-blue-800" href="#" (click)="$event.preventDefault(); debug($event); $event.target['innerText'] === 'Reveal' ? $event.target['innerText'] = 'Hide' : $event.target['innerText'] = 'Reveal'">Reveal</a>
                    </ng-container>
                    <ng-container *ngIf="!app.secret">
                        <span class="font-bold">None</span>
                    </ng-container>
                </div> -->


                <ng-container *ngIf="loading$ | async">
                    <i class="pi pi-spinner pi-spin text-2xl mb-5"></i>
                </ng-container>

                <ng-container *ngIf="!(loading$ | async)">
                    <div class="apps flex flex-row align-items-start">
                        <ng-container *ngFor="let app of apps$ | async; let i = index;">

                            <div class="app-box flex flex-column cursor-pointer transition-all transition-duration-200 transition-ease-in-out" [routerLink]="['/', 'account', 'apps', app.client_id]">
                                <img [src]="app.logo" />
                                <div class="app-name mt-2 text-white text-center">
                                    {{ app.name }}
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </section>
        </div>
    </div>

</app-account-page>