.provider-linked-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    font-weight: 600;
    padding: 10px;
    color: white;
    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
    }
}

.authorization-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    font-weight: 600;
    color: white;
    img {
        height: 100%;
        border-radius: 8px;
    }
}