<app-admin-page>
    <div class="rk_accounts__card">
      <div class="card__header flex flex-row align-items-center p-3">
        <div class="w-4rem h-4rem mr-3">
          <img
            *ngIf="account"
            class="w-full h-full rounded-sm"
            src="/assets/images/avatars/default-avatar.png"
          />
          <p-skeleton *ngIf="!account" width="100%" height="100%"></p-skeleton>
        </div>
        <div class="flex flex-column">
          <h2 class="my-0">
            <ng-container *ngIf="account">{{ account.username }}</ng-container>
            <p-skeleton *ngIf="!account" width="200px" height="29px"></p-skeleton>
          </h2>
          <div class="subtitle mt-2">
            <span *ngIf="account" class="mr-2 select-none">Account UUID:</span>
            <code *ngIf="account">{{ account.uuid }}</code>
            <p-skeleton *ngIf="!account" width="280px" height="20px"></p-skeleton>
          </div>
        </div>
      </div>
  
      <p-tabMenu styleClass="transparent" [model]="tabs" [activeItem]="activeTab"></p-tabMenu>
  
      <div class="card__content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </app-admin-page>
  