.header {
    height: 160px;
    width: 100%;
    max-width: 1228px;
    padding: 0 64px;
    margin: 0 auto;
    flex: none;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main {
    max-width: 1228px;
    height: 680px;
    width: 100%;
    min-height: calc(100vh - 160px - 64px);
    max-width: 1228px;
    margin: 0 auto;
    padding: 0 64px 64px;
}

.admin-signin {
    .headline {
        max-width: 463px;
        color: #fff;
        margin-top: 60px;
        margin-right: 20px;
        h1 {
            font-family: 'Poppins Light';
        }
        p {
            max-width: 410px;
            margin-top: 16px;
            font-family: 'Poppins Light';
        }
    }
}

::ng-deep .admin-signin-card {
    background-color: #fff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3) !important;
    width: 424px;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 8px;
    flex-shrink: 0;
    height: fit-content;
    // min-height: 579px;
     ::ng-deep {
        .p-card-body {
            padding: 0;
            height: 100%;
            .p-card-content {
                padding: 0;
                .title {
                    font-size: 26px;
                    line-height: 32px;
                    font-weight: 600;
                    letter-spacing: -1px;
                    margin: 0;
                }
                .subtitle {
                    margin: 4px 0 0;
                    font-size: 16px;
                    line-height: 21px;
                    min-height: 2px;
                }
                .form {
                    margin-top: 18px;
                    .error {
                        color: #ff1b2d;
                    }
                    input {
                        padding: 16px 32px 16px 16px;
                    }
                    .signup-button {
                        border: 2px solid;
                    }
                    .auth-button {
                        padding: 18px 20px;
                        box-shadow: none;
                    }
                    .signin-button {
                        border: 0;
                        outline: none;
                         ::ng-deep {
                            .p-button-label {
                                display: none;
                            }
                        }
                    }
                }
                .divider {
                    display: flex;
                    align-items: center;
                    margin: 16px 0;
                    span {
                        border-bottom: 1px solid #8997a3;
                        flex-grow: 1;
                    }
                    p {
                        flex-shrink: 0;
                        color: #8997a3;
                        margin: 0 16px;
                        font-size: 14px;
                        line-height: 21px;
                    }
                }
                .socials {
                    .discord-bg {
                        background-color: #5865f2;
                    }
                    .google-bg {
                        background-color: #ea4235;
                    }
                    .twitter-bg {
                        background-color: #1d9bf0;
                    }
                }
            }
        }
    }
}