<header class="header">
    <img class="cursor-pointer" routerLink="/signin" src="/assets/images/logo/logo-beta-light-admin.svg" height="50px" />
</header>

<main class="main">
    <div class="admin-signin flex flex-row justify-content-center align-items-center h-full">
        <p-card styleClass="admin-signin-card">

            <ng-container *ngIf="!formShow">
                <div class="flex flex-row justify-content-center align-items-center" style="height: 336px;">
                    <i class="pi pi-spinner spin text-7xl"></i>
                </div>
            </ng-container>


            <ng-container *ngIf="formShow">


                <div class="flex flex-row justify-content-center pb-3">
                    <i class="pi pi-lock text-6xl"></i>
                </div>

                <h2 class="flex flex-row justify-content-center title mb-5">
                    Admin Portal
                </h2>

                <div class="flex flex-row align-items-center text-2xl mb-4">
                    <i class="pi pi-user text-3xl mr-2"></i> Manage accounts
                </div>

                <div class="flex flex-row align-items-center text-2xl mb-4">
                    <i class="pi pi-tablet text-3xl mr-2"></i> Manage OAuth2 clients
                </div>

                <div class="flex flex-row align-items-center text-2xl mb-5">
                    <i class="pi pi-server text-3xl mr-2"></i> Manage OAuth2 server
                </div>

                <div class="form" [formGroup]="authForm">

                    <ng-container *ngIf="formError">
                        <span class="error block mb-2">
                            {{ formError | async | translate }}
                        </span>
                    </ng-container>

                    <div class="flex flex-row mt-4">
                        <!-- signin button -->
                        <button class="auth-button signin-button flex-1" pButton pRipple (click)="signin()" [disabled]="formLoading">
                            <div class="flex flex-row justify-content-center align-items-center w-full">
                                <span *ngIf="formLoading"
                                    class="p-button-icon p-button-icon-left p-button-loading-icon pi pi-spinner pi-spin"
                                    aria-hidden="true"></span>
    
                                <i *ngIf="!formLoading" class="pi pi-lock mr-2"></i>
                                Sign in with RutsuKun Account
                            </div>
    
                        </button>
                    </div>

                </div>



            </ng-container>


        </p-card>

    </div>
</main>

<app-auth-footer></app-auth-footer>