<ng-container [formGroup]="form">
    <div class="mb-2">
        <label for="name" class="text-500 text-sm">
            Name <span class="text-red">*</span>
        </label>
        <input pInputText id="name" class="w-full mt-1" formControlName="name" />
    </div>

    <div class="mb-2">
        <label for="description" class="text-500 text-sm">
            Description
        </label>
        <textarea pInputTextarea [autoResize]="true" [rows]="4" formControlName="description" id="description" class="w-full mt-1"></textarea>
    </div>

    <div class="mb-2">
        <label for="response_types" class="text-500 text-sm">
            Response Types <span class="text-red">*</span>
        </label>
        <p-selectButton id="response_types" [multiple]="true" styleClass="mt-2" [options]="response_types" formControlName="response_types" optionLabel="name" optionValue="value">
        </p-selectButton>
    </div>

    <div class="mb-2">
        <label for="grant_types" class="text-500 text-sm">
            Grant Types <span class="text-red">*</span>
        </label>
        <p-selectButton id="grant_types" [multiple]="true" styleClass="mt-2" [options]="grant_types" formControlName="grant_types" optionLabel="name" optionValue="value">
        </p-selectButton>
    </div>

    <div class="mb-2">
        <label for="website" class="text-500 text-sm">
            Website
        </label>
        <input pInputText id="website" class="w-full mt-1" formControlName="website" />
    </div>

    <div class="mb-2">
        <label for="privacy_policy" class="text-500 text-sm">
            Privacy Policy URI
        </label>
        <input pInputText id="privacy_policy" class="w-full mt-1" formControlName="privacy_policy" />
    </div>

    <div class="mb-2">
        <label for="tos" class="text-500 text-sm">
            Terms of Service URI
        </label>
        <input pInputText id="tos" class="w-full mt-1" formControlName="tos" />
    </div>

    <div class="mb-3 form-chips">
        <label for="redirect_uris" class="text-500 text-sm">
            Redirect URI's <span class="text-red">*</span>
        </label>
        <p-chips formControlName="redirect_uris" styleClass="w-full mt-1"></p-chips>
    </div>

    <div class="mb-4">
        <p-checkbox [binary]="true" [value]="false" formControlName="third_party" label="Third party"></p-checkbox>
    </div>

    <div class="mb-4">
        <p-checkbox [binary]="true" [value]="false" formControlName="verified" label="Verified by RutsuKun Accounts"></p-checkbox>
    </div>

    <div class="mb-4">
        <p-checkbox [binary]="true" [value]="false" formControlName="consent" label="Consent required"></p-checkbox>
    </div>

    <button (click)="createClient()" pButton label="Create"></button>
</ng-container>