<app-admin-page>
    <div class="rk_accounts__card">
        <div class="card__header flex flex-row justify-content-between align-items-center">
            <div>
                <h2 class="my-0">Accounts</h2>
                <div class="subtitle mt-2">List of all accounts</div>
            </div>
            <button pButton class="p-button-sm bg-white text-black-alpha-90 font-bold uppercase" label="Create" disabled></button>
        </div>
        <div class="card__content p-2">
            <p-table styleClass="card-table" #dt2 [value]="accounts" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[5,10,15, 20, 50]" [paginator]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} accounts"
                [globalFilterFields]="['username', 'emails.email','role','state']" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Picture</th>
                        <th>Username</th>
                        <th>Groups</th>
                        <th>State</th>
                        <th style="width: 6rem"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-account>
                    <tr>
                        <td>
                            <p-avatar styleClass="p-mr-2" size="large" [image]="account.avatar"></p-avatar>
                        </td>
                        <td>
                            <a [routerLink]="['/admin/accounts/', account.uuid]">{{account.username}}</a> <br />
                            {{ getPrimaryEmail(account) }}
                        </td>
                        <td>
                            <p-tag *ngFor="let group of account.groups" [value]="group.display_name" class="mr-1 mt-1"></p-tag>
                            {{ !account.groups.length ? "None" : null }}
                        </td>
                        <td>
                            <p-tag [severity]="account.state === 'ENABLED' ? 'success' : 'danger'"
                                [value]="account.state"></p-tag>
                        </td>
                        <td style="width: 6rem">
                            <button (click)="menu.toggle($event)" pButton class="p-button-icon p-button-nano" icon="pi pi-ellipsis-v"></button>
                            <p-menu #menu appendTo="body" [popup]="true" [model]="generateAccountMenu(account)"></p-menu>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="5">No accounts found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</app-admin-page>