.signin {
    .headline {
        max-width: 463px;
        color: #fff;
        margin-top: 60px;
        margin-right: 20px;
        h1 {
            font-family: 'Poppins Light';
        }
        p {
            max-width: 410px;
            margin-top: 16px;
            font-family: 'Poppins Light';
        }
    }
}

::ng-deep .device-code-card {
    background-color: #fff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3) !important;
    width: 424px;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 8px;
    flex-shrink: 0;
    height: fit-content;
    // min-height: 579px;
     ::ng-deep {
        .p-card-body {
            padding: 0;
            height: 100%;
            .p-card-content {
                padding: 0;
                .title {
                    font-size: 26px;
                    line-height: 32px;
                    font-weight: 600;
                    letter-spacing: -1px;
                    margin: 0;
                }
                .subtitle {
                    margin: 4px 0 0;
                    font-size: 16px;
                    line-height: 21px;
                    min-height: 2px;
                }
                .form {
                    margin-top: 18px;
                    .error {
                        color: #ff1b2d;
                    }
                    input {
                        padding: 16px 32px 16px 16px;
                    }
                    .auth-button {
                        padding: 18px 20px;
                        box-shadow: none;
                    }
                    .connect-button {
                        border: 0;
                        outline: none;
                         ::ng-deep {
                            .p-button-label {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}