<div class="device-code flex flex-column justify-content-center align-items-center h-full">
    <img class="mb-5" src="/assets/images/logo/logo-light.svg" height="50px" />
    <p-card styleClass="device-code-card">
        <ng-container *ngIf="!formShow && !clientError">
            <div class="flex flex-row justify-content-center align-items-center" style="height: 336px;">
                <i class="pi pi-spinner spin text-7xl"></i>
            </div>
        </ng-container>

        <ng-container *ngIf="!formShow && clientError">
            <div class="flex flex-column justify-content-center align-items-center" style="height: 336px;">
                <h2 class="title">{{ clientError.error | translate }}</h2>
                <p class="subtitle">{{ clientError.error_description }}</p>
            </div>
        </ng-container>

        <ng-container *ngIf="formShow && !clientError">

            <ng-container>
                <h2 class="title">
                    Connect Device
                </h2>
                <p class="subtitle">
                    Enter the code displayed on the device
                </p>
            </ng-container>



            <div class="form mt-5" [formGroup]="deviceCodeForm">

                <ng-container *ngIf="formError">
                    <span class="error block mb-2">
                        {{ formError | translate }}
                    </span>
                </ng-container>

                <div class="mb-2 p-float-label">

                    <p-inputMask id="user_code" formControlName="user_code" mask="****-****" styleClass="w-full">
                    </p-inputMask>

                    <label for="user_code" class="text-sm">
                        Enter code
                    </label>
                </div>



                <div class="flex flex-row mt-4">
                    <!-- reauth button -->
                    <button class="auth-button connect-button flex-1" pButton pRipple (click)="enterUserCode()" [disabled]="formLoading">
                        <div class="flex flex-row justify-content-center align-items-center w-full">
                            <span *ngIf="formLoading"
                                class="p-button-icon p-button-icon-left p-button-loading-icon pi pi-spinner pi-spin"
                                aria-hidden="true"></span>

                            <i *ngIf="!formLoading" class="pi pi-lock mr-2"></i>
                            Connect
                        </div>

                    </button>
                </div>

            </div>

        </ng-container>


    </p-card>

</div>