.main {
    max-width: 1800px;
    min-height: calc(100vh - 160px - 64px);
    margin: 0 auto;
    padding-top: 0 !important;
}

.header {
    height: 85px;
    width: 100%;
    max-width: 1800px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 0 auto;
    flex: none;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    .user-box {
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 200;
        cursor: pointer;
        color: black;
        .avatar {
            border-radius: 50px;
            width: 32px;
            height: 32px;
        }
        .links {
            button {
                color: black;
                box-shadow: none;
            }
        }
    }
}
