<app-admin-page>
  <div class="rk_accounts__card">
    <div
      class="card__header flex flex-row justify-content-between align-items-center"
    >
      <div>
        <h2 class="my-0">Applications</h2>
        <div class="subtitle mt-2">List of all OAuth2 applications</div>
      </div>
      <button
        pButton
        class="p-button-sm bg-white text-black-alpha-90 font-bold uppercase"
        label="Create app"
        (click)="openCreateAppDialog()"
      ></button>
    </div>
    <div class="card__content p-2">
      <p-table
        styleClass="card-table"
        #dt2
        [value]="apps"
        dataKey="client_id"
        responsiveLayout="scroll"
      >
        <!-- <ng-template pTemplate="header">
                <tr>
                    <th class="w-1rem">Picture</th>
                    <th>
                        Name
                        <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                    </th>
                    <th>
                        Verified
                    </th>
                    <th>
                        Owner
                    </th>
                </tr>
            </ng-template> -->
        <ng-template pTemplate="body" let-app>
          <tr class="bg-transparent">
            <td class="w-1rem">
              <p-avatar
                styleClass="p-mr-2"
                size="large"
                [image]="app.logo"
              ></p-avatar>
            </td>
            <td>
              {{ app.name }} <br />
              <small>( {{ app.client_id }} )</small>
            </td>
            <td>
              <p-tag
                [severity]="app.verified ? 'success' : 'danger'"
                [value]="app.verified ? 'Verified' : 'Unverified'"
              ></p-tag>
            </td>
            <td>
              <div class="flex flex-row align-items-center">
                <p-avatar
                  styleClass="mr-2"
                  size="large"
                  [image]="app.account.avatar"
                ></p-avatar>
                <span class="font-medium">{{ app.account.username }}</span>
              </div>
            </td>
            <td>
              <button
                [routerLink]="['/admin/apps/', app.client_id, 'settings']"
                pButton
                class="p-button-nano"
              >
                Settings
              </button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">No apps found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</app-admin-page>
