::ng-deep .signup-card {
    background-color: #fff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3) !important;
    width: 424px;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 8px;
    flex-shrink: 0;
    height: fit-content;
    // min-height: 579px;
     ::ng-deep {
        .p-card-body {
            padding: 0;
            height: 100%;
            .p-card-content {
                padding: 0;
                .title {
                    font-size: 26px;
                    line-height: 32px;
                    font-weight: 600;
                    letter-spacing: -1px;
                    margin: 0;
                }
                .subtitle {
                    margin: 4px 0 0;
                    font-size: 16px;
                    line-height: 21px;
                    min-height: 2px;
                }
                .form {
                    margin-top: 18px;
                    .error {
                        color: #ff1b2d;
                    }
                    input {
                        padding: 16px 32px 16px 16px;
                    }
                    .signin-button {
                        border: 2px solid;
                    }
                    .auth-button {
                        padding: 18px 20px;
                        box-shadow: none;
                    }
                    .signup-button {
                        border: 0;
                        outline: none;
                         ::ng-deep {
                            .p-button-label {
                                display: none;
                            }
                        }
                    }
                }
                .divider {
                    display: flex;
                    align-items: center;
                    margin: 16px 0;
                    span {
                        border-bottom: 1px solid #8997a3;
                        flex-grow: 1;
                    }
                    p {
                        flex-shrink: 0;
                        color: #8997a3;
                        margin: 0 16px;
                        font-size: 14px;
                        line-height: 21px;
                    }
                }
                .socials {
                    button {
                        border: 0;
                        outline: none;
                        box-shadow: none;
                    }
                    .discord-auth {
                        background-color: #5865f2;
                    }
                    .google-auth {
                        background-color: #ea4235;
                    }
                    .twitter-auth {
                        background-color: #1d9bf0;
                    }
                }
            }
        }
    }
}