<app-admin-page>

    <div class="rk_accounts__card">
        <div class="card__header flex flex-row justify-content-between align-items-center">
            <div>
                <h2 class="my-0">Scopes</h2>
                <div class="subtitle mt-2">List of all OAuth2 scopes</div>
            </div>
            <button pButton class="p-button-sm bg-white text-black-alpha-90 font-bold uppercase" label="Create" (click)="openCreateScopeDialog()"></button>
        </div>
        <div class="card__content">
            <h2 class="font-bold">Default</h2>

            <p-table #dt2 [value]="getDefaultScopes()" dataKey="client_id" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15, 20, 50]" [paginator]="false" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} apps" [globalFilterFields]="['client_id', 'name']"
                responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            Name
                            <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                        </th>
                        <th class="w-1rem"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-scope>
                    <tr>
                        <td>
                            {{scope.name}} <small class="font-bold">( {{ scope.uuid }} )</small>
                        </td>
                        <td class="w-1rem">
                            <p-menu #menu0 [popup]="true" [model]="getScopeMenu(scope)" appendTo="body"></p-menu>
                            <button #button (click)="menu0.toggle($event)" pButton class="p-button-icon-only p-button-link" icon="pi pi-ellipsis-v"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="5">No scopes found.</td>
                    </tr>
                </ng-template>
            </p-table>
        
            <h2 class="font-bold">Scopes</h2>
        
            <p-table #dt2 [value]="getRestScopes()" dataKey="client_id" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15, 20, 50]" [paginator]="false" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} apps" [globalFilterFields]="['client_id', 'name']"
                responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            Name
                            <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                        </th>
                        <th class="w-1rem"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-scope>
                    <tr>
                        <td>
                            {{scope.name}} <small class="font-bold">( {{ scope.uuid }} )</small>
                        </td>
                        <td #td class="w-1rem relative">
                            <p-menu #menu1 [popup]="true" [model]="getScopeMenu(scope)" appendTo="body"></p-menu>
                            <button #button (click)="menu1.toggle($event)" pButton class="p-button-icon-only p-button-link relative" icon="pi pi-ellipsis-v"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="5">No scopes found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>




</app-admin-page>