<p-card styleClass="signup-card" [formGroup]="form">
    <h2 class="title">
        {{ 'pages.signup.title' | translate }}
    </h2>
    <p class="subtitle">
        {{ 'pages.signup.subtitle' | translate }}
    </p>

    <div class="form">

        <ng-container *ngIf="error$ | async">
            <span class="error block mb-2">
                {{ (error$ | async) | translate }}
            </span>
        </ng-container>

        <div class="mb-2">
            <label for="username" class="text-500 text-sm">
                {{ 'pages.signup.forms.username' | translate }}
            </label>
            <input id="email" type="text" class="w-full" pInputText [placeholder]="'pages.signup.forms.username' | translate" formControlName="username" />
        </div>

        <div class="mb-2">
            <label for="email" class="text-500 text-sm">
                {{ 'pages.signup.forms.email' | translate }}
            </label>
            <input id="email" type="text" class="w-full" pInputText [placeholder]="'pages.signup.forms.email' | translate" formControlName="email" />
        </div>

        <div class="mb-2">
            <label for="password" class="text-500 text-sm">
                {{ 'pages.signup.forms.password' | translate }}
            </label>
            <input id="password" type="password" class="w-full" pInputText [placeholder]="'pages.signup.forms.password' | translate" formControlName="password" />
        </div>

        <div class="mb-2">
            <label for="repassword" class="text-500 text-sm">
                {{ 'pages.signup.forms.repassword' | translate }}
            </label>
            <input id="repassword" type="password" class="w-full" pInputText [placeholder]="'pages.signup.forms.repassword' | translate" formControlName="repassword" />
        </div>

        <div class="flex flex-row mt-4">
            <!-- create account button -->
            <button class="auth-button signin-button p-button-outlined flex-1 mr-2" pButton [label]="'pages.signin.buttons.signin' | translate" (click)="redirectSignIn()"></button>
            <!-- signin button -->
            <button class="auth-button signup-button flex-1 ml-2" pButton pRipple (click)="signup()" [disabled]="loading$ | async">
                <div class="flex flex-row justify-content-center align-items-center w-full">
                    <span *ngIf="loading$ | async"
                        class="p-button-icon p-button-icon-left p-button-loading-icon pi pi-spinner pi-spin"
                        aria-hidden="true"></span>

                    <i *ngIf="!(loading$ | async)" class="pi pi-user-plus mr-2"></i>
                    {{ 'pages.signup.buttons.signup' | translate }}
                </div>

            </button>
        </div>

    </div>

    <div class="divider mt-5">
        <span></span>
        <p>
            {{ 'pages.signin.or-continue-with' | translate }}
        </p>
        <span></span>
    </div>

    <div class="socials flex flex-row justify-content-between">
        <button pButton pRipple class="discord-auth" icon="pi pi-discord" label="Discord"></button>
        <button pButton pRipple class="google-auth" icon="pi pi-google" label="Google"></button>
        <button pButton pRipple class="twitter-auth" icon="pi pi-twitter" label="Twitter"></button>
    </div>

</p-card>