::ng-deep .signin-card {
    background-color: #fff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3) !important;
    width: 424px;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 8px;
    flex-shrink: 0;
    height: fit-content;
    // min-height: 579px;
     ::ng-deep {
        .p-card-body {
            padding: 0;
            height: 100%;
            .p-card-content {
                padding: 0;
                .title {
                    font-size: 26px;
                    line-height: 32px;
                    font-weight: 600;
                    letter-spacing: -1px;
                    margin: 0;
                }
                .subtitle {
                    margin: 4px 0 0;
                    font-size: 16px;
                    line-height: 21px;
                    min-height: 2px;
                }
                .form {
                    margin-top: 18px;
                    .error {
                        color: #ff1b2d;
                    }
                    .auth-form-label {
                        text-transform: uppercase;
                        display: block;
                        font-size: 12px;
                        font-family: 'Segoe UI';
                        letter-spacing: .15em;
                        margin: 0 0 8px 0;
                        line-height: 1.129;
                        font-weight: bold;
                        text-align: start;
                    }
                    input {
                        padding: 13px 32px 13px 16px;
                        border-radius: 0.5rem;
                    }
                    .signup-button {
                        border: 2px solid;
                    }
                    .auth-button {
                        padding: 12px 24px;
                        box-shadow: none;
                        font-size: 16px;
                        text-transform: uppercase;
                        font-family: 'Segoe UI';
                        font-weight: 700;
                        letter-spacing: 2.4px;
                        &:hover {
                            transform: scale(0.96);
                            transition: all 0.18s cubic-bezier(0.86, 0, 0.07, 1);
                        }
                    }
                    .signin-button {
                        border: 0;
                        outline: none;
                         ::ng-deep {
                            .p-button-label {
                                display: none;
                            }
                        }
                    }
                }
                .divider {
                    display: flex;
                    align-items: center;
                    margin: 16px 0;
                    span {
                        border-bottom: 1px solid #8997a3;
                        flex-grow: 1;
                    }
                    p {
                        flex-shrink: 0;
                        color: #8997a3;
                        margin: 0 16px;
                        font-size: 14px;
                        line-height: 21px;
                    }
                }
                .socials {
                    .social-button {
                        margin: 8px;
                        min-height: 48px;
                        min-width: 62px !important;
                        height: auto;
                        padding: 20px;
                        position: relative;
                        border-radius: 16px;
                        outline: 0;
                        &:hover {
                            transform: scale(0.96);
                            transition: all 0.18s cubic-bezier(0.86, 0, 0.07, 1);
                        }
                    }
                    .discord-bg {
                        background-color: #5865f2;
                    }
                    .google-bg {
                        background-color: #ea4235;
                    }
                    .twitter-bg {
                        background-color: #1d9bf0;
                    }
                }
            }
        }
    }
}