<app-admin-page>
  <div class="rk_accounts__card">
    <div class="card__header flex flex-row align-items-center p-3">
      <div class="w-4rem h-4rem mr-3">
        <img
          *ngIf="organization"
          class="w-full h-full rounded-sm"
          [src]="organization.logo"
        />
        <p-skeleton *ngIf="!organization" width="100%" height="100%"></p-skeleton>
      </div>
      <div class="flex flex-column">
        <h2 class="my-0">
          <ng-container *ngIf="organization">{{ organization.name }}</ng-container>
          <p-skeleton *ngIf="!organization" width="200px" height="29px"></p-skeleton>
        </h2>
        <div class="subtitle flex flex-row align-items-center mt-1">

          <span *ngIf="organization" class="mr-2 select-none">Organization ID:</span>
          <code class="mr-2" *ngIf="organization">{{ organization.id }}</code>

          <span *ngIf="organization" class="mr-2 select-none">Organization UUID:</span>
          <code *ngIf="organization">{{ organization.uuid }}</code>
          <p-skeleton *ngIf="!organization" width="280px" height="20px"></p-skeleton>
        </div>
      </div>
    </div>

    <p-tabMenu styleClass="transparent" [model]="tabs" [activeItem]="activeTab"></p-tabMenu>

    <div class="card__content">
      <router-outlet></router-outlet>
    </div>

    <div *ngIf="isDevelop" class="card__content">
      Debug:
      <code>
        <pre>{{ debug | json}}</pre>
      </code>
    </div>
  </div>
</app-admin-page>
