<p-card styleClass="authorize-card">


    <ng-container *ngIf="consent">
        <div *ngIf="sessionCurrent$ | async as sessionCurrent" class="flex flex-row justify-content-around align-items-center mb-5">
            <div class="flex flex-column justify-content-center align-items-center">
                <img class="rounded mb-2" width="50" [src]="sessionCurrent.account.picture" />
                <span class="font-bold">{{ sessionCurrent.account.username }}</span>
            </div>
            <img width="28" height="24" src="/assets/images/connect-arrows.png" />
            <div class="flex flex-column justify-content-center align-items-center">
                <img class="rounded mb-2" width="50" [src]="consent.client.logo_uri" />
                <span class="font-bold">{{ consent.client.client_name }}</span>
            </div>
        </div>

        <p class="subtitle" [innerHTML]="'pages.authorize.subtitle' | translate: { app: consent.client.client_name }">
        </p>
        <p-divider></p-divider>
        <p class="mb-3" [innerHTML]="'pages.authorize.agree-title' | translate: { app: consent.client.client_name}"></p>
        <div class="flex flex-row justify-content-start align-items-center text-1xl mb-2" *ngFor="let scope of consent.scopes">
            <span class="mr-2" *ngIf="scope === 'account' || scope === 'openid'">
                <i class="pi pi-user text-2xl"></i>
            </span>
            <div class="flex flex-column">
                <span class="font-medium">{{ 'scopes.' + scope + '.title' | translate }}</span>
                <small>{{ 'scopes.' + scope + '.desc' | translate }}</small>
            </div>

        </div>


        <p-divider></p-divider>

        <div class="flex flex-column">
            <div class="flex flex-row font-medium">
                <div class="mr-2">
                    <i class="pi pi-link"></i>
                </div>
                <div class="text-sm">
                    Once you authorize, you will be redirected to: <b>{{ consent.client.redirect_uri }}</b>
                </div>
            </div>

            <div class="flex flex-row font-medium mt-2">
                <div class="mr-2">
                    <i class="pi pi-clock"></i>
                </div>
                <div class="text-sm">
                    Active since: <b>1 Jan 2020</b>
                </div>
            </div>

            <div class="flex flex-row font-medium mt-2" *ngIf="consent.client.verified">
                <div class="mr-2">
                    <i class="pi pi-shield"></i>
                </div>
                <div class="text-sm">
                    Official Auth Server application
                </div>
            </div>

            <div class="flex flex-row font-medium mt-2" *ngIf="!consent.client.verified">
                <div class="mr-2">
                    <i class="pi pi-exclamation-triangle"></i>
                </div>
                <div class="text-sm">
                    Ownership of this app has not been verified by Auth Server.
                </div>
            </div>
        </div>

        <p-divider></p-divider>

        <div class="flex flex-column">

            <button (click)="authorizeClick(true)" pButton class="auth-button authorize-button mb-3" [disabled]="loading">
                <div class="flex flex-row justify-content-center align-items-center w-full">
                    <span *ngIf="loading"
                        class="p-button-icon p-button-icon-left p-button-loading-icon pi pi-spinner pi-spin"
                        aria-hidden="true"></span>
                    Authorize
                </div>
            </button>

            <button (click)="authorizeClick(false)" pButton class="auth-button cancel-button p-button-outlined" [label]="'cancel' | translate"></button>

        </div>

    </ng-container>

    <ng-container *ngIf="!consent">
        <div class="flex flex-row justify-content-center align-items-center" style="height: 336px;">
            <i class="pi pi-spinner spin text-7xl"></i>
        </div>

    </ng-container>

</p-card>