<app-account-page>
    <div class="rk_accounts__card mb-5">
        <div class="card__header">
            <h2 class="title flex flex-row align-items-center">
                <i class="pi pi-user text-2xl mr-2"></i> About me
            </h2>
        </div>
        <div class="card__content">
            <section class="mb-3">
                <h3>Username</h3>
                <div class="flex flex-row align-items-center">
                    <ng-container *ngIf="!activeChangeUsername">
                        <ng-container *ngIf="loading$ | async">
                            <p class="flex-1">
                                <i class="pi pi-spinner pi-spin text-2xl"></i>
                            </p>
                        </ng-container>
                        <ng-container *ngIf="!(loading$ | async)">
                            <p class="flex-1">
                                {{ account ? account.username : null }}
                            </p>
                        </ng-container>
                        <button (click)="toggleChangeUsername()" pButton label="Change"
                            class="p-button-outlined p-button-sm font-bold border-white text-white"></button>
                    </ng-container>
                    <ng-container *ngIf="activeChangeUsername">
                        <p class="flex-1">
                            <input pInputText placeholder="Username" [value]="account.username" />
                        </p>
                        <button (click)="cancelChangeUsername()" pButton label="Cancel"
                            class="p-button-outlined p-button-sm font-bold mr-3"></button>
                        <button (click)="confirmChangeUsername()" pButton label="Save"
                            class="p-button-sm font-bold"></button>
                    </ng-container>
                </div>
            </section>
            <section class="mb-3">
                <h3>Groups</h3>
                <div class="flex flex-row align-items-center">
                    <ng-container *ngIf="loading$ | async">
                        <i class="pi pi-spinner pi-spin text-2xl"></i>
                    </ng-container>
                    <ng-container *ngIf="!(loading$ | async)">
                        <p class="flex-1">
                            <p-tag *ngFor="let group of getGroups()" [value]="group" class="mr-2"></p-tag>
                            <ng-container *ngIf="!getGroups()">None</ng-container>
                        </p>
                    </ng-container>
                </div>
            </section>
        </div>
    </div>

    <div class="rk_accounts__split-card mb-5">
        <div class="split-card__content--left">
            <h2 class="title">Authentication methods</h2>
            <p></p>
        </div>
        <div class="split-card__content--right">
            <section class="mb-3">
                <h3 class="mb-2">Emails</h3>
                <p class="mb-3">You can only have one primary email address and second additional for account recovery</p>

                <ng-container *ngIf="loading$ | async">
                    <i class="pi pi-spinner pi-spin text-2xl"></i>
                </ng-container>

                <ng-container *ngIf="!(loading$ | async)">
                    <ng-container *ngIf="account && account.emails">

                        <div class="flex flex-row justify-content-between align-items-center rounded-sm font-medium p-2 mb-3 w-full"
                            *ngFor="let email of account.emails" style="background-color: #8a8a8a1a;">
                            <div class="flex flex-row align-items-center">
                                <div
                                    class="flex justify-content-center align-items-center w-3rem h-3rem rounded-sm mr-3 bg-white text-black-alpha-90">
                                    <i class="pi pi-envelope text-xl"></i>
                                </div>

                                <div class="flex flex-column align-items-start font-bold">
                                    <span class="mb-1">{{ email.email }}</span>
                                    <span class="uppercase text-sm text-white-alpha-80">
                                        <p-tag *ngIf="email.primary" value="Primary" class="mr-2" styleClass="py-0"></p-tag>
                                        <p-tag *ngIf="email.email_verified" value="Verified" severity="success" class="mr-2" styleClass="py-0"></p-tag>
                                        <p-tag *ngIf="!email.email_verified" value="Unverified" severity="danger" class="mr-2" styleClass="py-0"></p-tag>
                                    </span>
                                </div>
                            </div>

                            <div class="flex justify-content-center align-items-center w-auto h-full cursor-pointer">
                                <button *ngIf="!email.email_verified" pButton label="Resend" class="bg-white text-black-alpha-90 uppercase p-button-sm mr-2"></button>
                                <button *ngIf="!email.primary" (click)="deleteEmail(email.uuid)" pButton label="Delete"
                                    class="uppercase p-button-sm p-button-danger mr-2"></button>
                                <button *ngIf="!email.primary && email.email_verified" pButton label="Set as primary"
                                    class="p-button-outlined p-button-sm"></button>
                                <button *ngIf="account.emails.length === 1" (click)="openAddSecondaryEmailDialog()" pButton label="Add recovery email" class="p-button-outlined p-button-sm bg-white text-black-alpha-90"></button>
                            </div>
                        </div>

                       

                    </ng-container>
                </ng-container>
            </section>

            <section class="mb-3">
                <h3>Password</h3>
                <div class="flex flex-row align-items-center">
                    <p class="flex-1">
                        Set a unique password to protect your
                        {{ account ? account.username : null }} account.
                    </p>
                    <button disabled pButton label="Change password"
                        class="p-button-outlined p-button-sm ml-3 border-white text-white"></button>
                </div>
            </section>

            <section>
                <h3>Two-factor authentication</h3>
                <div class="flex flex-column">
                    <p class="flex-1">
                        Protect your account from unauthorized access by requiring a secure second authentication method
                        when signing in.
                    </p>
                    <div class="flex flex-column mt-3">



                        <div class="flex flex-row justify-content-between align-items-center rounded-sm font-medium p-2 mb-3 w-full"
                            style="background-color: #8a8a8a1a;">
                            <div class="flex flex-row align-items-center">
                                <div
                                    class="flex justify-content-center align-items-center w-3rem h-3rem rounded-sm mr-3 bg-white text-black-alpha-90">
                                    <i class="pi pi-envelope text-xl"></i>
                                </div>

                                <div class="flex flex-column align-items-start font-bold">
                                    <span class="text-xl">Email</span>
                                    <span class="uppercase text-sm text-white-alpha-80">{{ isActiveAuthnMethod('EMAIL')
                                        ? 'Enabled' : 'Disabled' }}</span>
                                </div>
                            </div>

                            <div class="flex justify-content-center align-items-center w-auto h-full cursor-pointer">
                                <button *ngIf="!isActiveAuthnMethod('EMAIL')" pButton
                                    class="p-button-sm bg-white text-black-alpha-90 uppercase font-bold" label="Enable"
                                    (click)="openSetupMfaDialog('email')"></button>
                                <button *ngIf="isActiveAuthnMethod('EMAIL')" pButton
                                    class="p-button-sm bg-white text-black-alpha-90 uppercase font-bold" label="Disable"
                                    (click)="disableMfa('email')"></button>
                            </div>
                        </div>

                        <div class="flex flex-row justify-content-between align-items-center rounded-sm font-medium p-2 mb-3 w-full"
                            style="background-color: #8a8a8a1a;">
                            <div class="flex flex-row align-items-center">
                                <div
                                    class="flex justify-content-center align-items-center w-3rem h-3rem rounded-sm mr-3 bg-white text-black-alpha-90">
                                    <i class="pi pi-key text-xl"></i>
                                </div>

                                <div class="flex flex-column align-items-start font-bold">
                                    <span class="text-xl">Two Factor Authentication</span>
                                    <span class="uppercase text-sm text-white-alpha-80">{{ isActiveAuthnMethod('OTP') ?
                                        'Enabled' : 'Disabled' }}</span>
                                </div>
                            </div>

                            <div class="flex justify-content-center align-items-center w-auto h-full cursor-pointer">
                                <button *ngIf="!isActiveAuthnMethod('OTP')" pButton
                                    class="p-button-sm bg-white text-black-alpha-90 uppercase font-bold" label="Enable"
                                    (click)="openSetupMfaDialog('otp')"></button>
                                <button *ngIf="isActiveAuthnMethod('OTP')" pButton
                                    class="p-button-sm bg-white text-black-alpha-90 uppercase font-bold" label="Disable"
                                    (click)="disableMfa('otp')"></button>
                            </div>
                        </div>

                        <div class="flex flex-row justify-content-between align-items-center rounded-sm font-medium p-2 mb-3 w-full"
                            style="background-color: #8a8a8a1a;">
                            <div class="flex flex-row align-items-center">
                                <div
                                    class="flex justify-content-center align-items-center w-3rem h-3rem rounded-sm mr-3 bg-white text-black-alpha-90">
                                    <i class="pi pi-key text-xl"></i>
                                </div>

                                <div class="flex flex-column align-items-start font-bold">
                                    <span class="text-xl">Yubikey</span>
                                    <span class="uppercase text-sm text-white-alpha-80">{{ isActiveAuthnMethod('HWK') ?
                                        'Enabled' : 'Disabled' }}</span>
                                </div>
                            </div>

                            <div class="flex justify-content-center align-items-center w-auto h-full cursor-pointer">
                                <button *ngIf="!isActiveAuthnMethod('HWK')" pButton
                                    class="p-button-sm bg-white text-black-alpha-90 uppercase font-bold" label="Enable"
                                    (click)="openSetupMfaDialog('hwk')"></button>
                                <button *ngIf="isActiveAuthnMethod('HWK')" pButton
                                    class="p-button-sm bg-white text-black-alpha-90 uppercase font-bold" label="Disable"
                                    (click)="disableMfa('hwk')"></button>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>

</app-account-page>