@import "~primeflex/src/_variables.scss";

.rk_accounts__split-card {
    display: flex;
    flex-direction: column;
    background: #211e1f;
    border-radius: 0.33rem 0.33rem 0.33rem 0.33rem;
    min-height: 10rem;
    .split-card__content--left {
        flex: auto;
        padding: 1.66rem 2rem;
        border-radius: 0.33rem 0 0 0.33rem;
        
        .subtitle {
            font-size: 16px;
            color: #b8b8b8;
        }
    }
    .split-card__content--right {
        background: #292727;
        padding: 1.66rem 2rem;
        border-radius: 0.33rem 0.33rem 0.33rem 0.33rem;
        max-width: 800px;
        width: 100%;
    }
}

.rk_accounts__card {
    display: flex;
    flex-direction: column;
    background: #211e1f;
    border-radius: 0.33rem 0.33rem 0.33rem 0.33rem;
    min-height: 10rem;
    .card__header {
        padding: 1.66rem 2rem;
        border-radius: 0.33rem 0 0 0.33rem;
        .title {
            margin: 0;
        }
        .subtitle {
            font-size: 16px;
            color: #b8b8b8;
            margin: 5px 0px;
        }
    }

    .card__content {
        flex: 1;
        padding: 1.66rem 2rem;
        border-radius: 0.33rem 0 0 0.33rem;
        background: #292727;
    }
}

@media screen and (min-width: $md) {
    .rk_accounts__split-card {
        flex-direction: row;
        .split-card__content--left {
            width: 15rem;
        }
        .split-card__content--right {
            width: 40rem;
        }
    }
}