@import "fonts";
@import "theme";
@import "apex-charts";
@import "cards";
@import "misc";

.page-account {
  .p-inputtext {
    background-color: hsla(0, 0%, 54%, 0.1);
    border-color: hsla(0, 0%, 54%, 0.1);
    color: #ffffff;
  }
  
  .p-selectbutton .p-button {
    background-color: hsla(0, 0%, 54%, 0.1);
    border-color: hsla(0, 0%, 54%, 0.1);
    color: white;
  }

  .p-chips .p-chips-multiple-container .p-chips-input-token input {
    color: white;
  }
  
}


.p-button:focus, .p-inputtext:enabled:focus, .p-chips .p-chips-multiple-container:not(.p-disabled).p-focus {
  box-shadow: none;
}

:root {
  --primary-color: #ab0f4a;
  --primary-color-hover: #8f0c3e;
}

.p-chips .p-chips-multiple-container .p-chips-token {
  background: var(--primary-color);
  color: white;
}