.card-table.p-datatable>.p-datatable-wrapper>.p-datatable-table {
  .p-datatable-thead {
    tr>th {
      background: #8a8a8a1a;
      color: white;
    }
  }
  .p-datatable-tbody {
      tr {
          background: #6b6a6a5a;
          color: white;
      }
  }
}

.card-table.p-datatable {
    .p-paginator {
        background: #8a8a8a1a;
        .p-paginator-current {
            color: white;
        }
    }
}
