# ENABLE CACHE
proxy_cache_path /usr/share/nginx/cache-volumen levels=1:2 keys_zone=one:10m;

# Auth API
# 443 secure
# 80 unsecure development
server {
    server_name  api.auth.local;
    listen 80; // DEVELOPMENT

    # PRODUCTION START

    # listen       443 ssl;
    # ssl_certificate /etc/nginx/ssl/origin_auth.pem;
    # ssl_certificate_key /etc/nginx/ssl/origin_auth.key;
    # ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
    # ssl_ciphers         HIGH:!aNULL:!MD5;

    location / {
        proxy_pass http://auth-api:20000/;
        proxy_redirect default;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    # PRODUCTION END

}

# Auth CDN
# 443 secure
# 80 unsecure development
server {
    server_name  cdn.auth.local;
    listen 80; // DEVELOPMENT

    # PRODUCTION START

    # listen       443 ssl;
    # ssl_certificate /etc/nginx/ssl/origin_auth.pem;
    # ssl_certificate_key /etc/nginx/ssl/origin_auth.key;
    # ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
    # ssl_ciphers         HIGH:!aNULL:!MD5;

    location / {
        proxy_pass http://auth-cdn:20001/;
        proxy_redirect default;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    # PRODUCTION END
}


# Auth Frontend
# 443 secure production
# 80 unsecure development
server {
    server_name  auth.local;

    # PRODUCTION START

    # listen       443 ssl;
    # ssl_certificate /etc/nginx/ssl/origin_auth.pem;
    # ssl_certificate_key /etc/nginx/ssl/origin_auth.key;
    # ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
    # ssl_ciphers         HIGH:!aNULL:!MD5;
    # root /home/front/;
    # index  index.html index.htm;
    # gzip on;
    # gzip_types      text/plain application/xml application/javascript;
    # gzip_proxied    no-cache no-store private expired auth;
    # gzip_min_length 1000;
    # proxy_cache one;

    # location ~* \.(webm)$ {
    #     expires 2d;
    #     add_header Cache-Control "public, no-transform";
    # }

    # location ~* \.(js|css|png|jpg|jpeg|gif|ico|webp|ttf)$ {
    #     expires 365d;
    #     add_header Cache-Control "public, no-transform";
    # }

    # PRODUCTION END
    


    # DEVELOPMENT START

    listen 80;
    location / {
            proxy_pass http://host.docker.internal:4200;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
    }

    # DEVELOPMENT END

}