<header class="header flex flex-row" [class.isAdmin]="isAdmin">
    <div class="header-wrapper">
        <img *ngIf="isAdmin && isDev" class="cursor-pointer" src="./../../../assets/images/logo/admin/logo-light-admin-dev.svg" height="40px" routerLink="/admin" />
        <img *ngIf="isAdmin && isProd" class="cursor-pointer" src="./../../../assets/images/logo/admin/logo-light-admin-prod.svg" height="40px" routerLink="/admin" />
        <img *ngIf="!isAdmin && isDev" class="cursor-pointer" src="./../../../assets/images/logo/logo-light-dev.svg" height="40px" routerLink="/account/general" />
        <img *ngIf="!isAdmin && isProd" class="cursor-pointer" src="./../../../assets/images/logo/logo-light-prod.svg" height="40px" routerLink="/account/general" />

        <app-header-account [isAdmin]="isAdmin"></app-header-account>

    </div>
</header>