.signup {
    .headline {
        max-width: 463px;
        color: #fff;
        margin-top: 60px;
        margin-right: 20px;
        h1 {
            font-family: 'Poppins Light';
        }
        p {
            max-width: 410px;
            margin-top: 16px;
            font-family: 'Poppins Light';
        }
    }
}