<div class="signup flex flex-column justify-content-center align-items-center h-full">
    <div class="flex flex-row align-items-center justify-content-around mb-5">
        <img src="/assets/images/logo/logo-light-dev.svg" height="50px" />
        <ng-container *ngIf="flow === 'oauth'">
            <span class="bg-white ml-3 mr-3" style="width: 4px; height: 35px; border-radius: 25px;"></span>
            <div class="flex flex-column align-items-center justify-content-center">
                <ng-container *ngIf="appInfoLoading$ | async">
                    <i class="pi pi-spinner pi-spin text-2xl"></i>
                </ng-container>

                <ng-container *ngIf="!(appInfoLoading$ | async) && appInfoData$ | async as appInfo">
                    <img class="mb-2" width="50" height="50" [src]="appInfo.logo" style="border-radius: 8px;" />
                    <small [pTooltip]="appInfo.name" tooltipPosition="bottom" class="font-medium" style="max-width: 120px;text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">{{ appInfo.name }}</small>
                </ng-container>
            </div>
        </ng-container>
    </div>
    <app-signup-card></app-signup-card>
</div>