<app-admin-page>
    <span class="title">Accounts</span>

    <p-table #dt2 [value]="accounts" dataKey="id" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15, 20, 50]" [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} accounts" [globalFilterFields]="['username', 'emails.email','role','state']"
        responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt2.filterGlobal($event.target['value'], 'contains')"
                        placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Picture</th>
                <th>Username</th>
                <th>Emails</th>
                <th>Role</th>
                <th>State</th>
                <th style="width: 6rem">Verified</th>
            </tr>
            <tr>
                <th></th>
                <th>
                    <p-columnFilter type="text" field="username"></p-columnFilter>
                </th>
                <th>
                    <!-- <p-columnFilter type="text" field="emails.email" [showMenu]="false"></p-columnFilter> -->


                </th>
                <th>
                    <p-columnFilter field="role" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="roles" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                                <ng-template let-option pTemplate="item">
                                    <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="state" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="states" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                                <ng-template let-option pTemplate="item">
                                    <p-tag [severity]="option.value === 'ENABLED' ? 'success' : 'danger'" [value]="option.label"></p-tag>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="boolean" field="verified"></p-columnFilter>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-account>
            <tr>
                <td>
                    <p-avatar styleClass="p-mr-2" size="large" [image]="account.avatar"></p-avatar>
                </td>
                <td>
                    {{account.username}}
                </td>
                <td>
                    <ng-container *ngFor="let email of account.emails">
                        {{ email.email }}<br />
                        <p-tag *ngIf="email.primary" value="Primary" class="mr-1 mt-1"></p-tag>
                        <p-tag *ngIf="email.email_verified" value="Verified" severity="success" class="ml-2"></p-tag>
                        <p-tag *ngIf="!email.email_verified" value="Unverified" severity="danger" class="ml-2"></p-tag>
                    </ng-container>
                </td>
                <td>
                    {{ account.role }}
                </td>
                <td>
                    <p-tag [severity]="account.state === 'ENABLED' ? 'success' : 'danger'" [value]="account.state"></p-tag>
                </td>
                <td>
                    <i class="pi" [ngClass]="{'true-icon pi-check-circle': true, 'false-icon pi-times-circle': false}"></i>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No accounts found.</td>
            </tr>
        </ng-template>
    </p-table>
</app-admin-page>