<div *ngIf="activeStep === 0" class="flex flex-column font-light text-sm text-center">
    <div class="w-full flex flex-column mt-5">
        <p-image src="/assets/images/illustrations/undraw-secure-login.svg" alt="Secure Login" width="50%"></p-image>

        <h2>Double the security!</h2>
    </div>

    <p *ngIf="type === 'otp'">
        With two-factor authentication (2FA), you will be signing into your account in two steps, using your browser as well as the authenticator app on your phone.
    </p>

    <div *ngIf="!isSupportedMethod()" class="text-2xl font-bold text-red">
        Method {{ this.type }} not supported
    </div>

    <button *ngIf="isSupportedMethod()" (click)="nextStep()" pButton class="mt-5 justify-content-center no-label">
        <ng-container *ngIf="mfaLoading$ | async">
            <i class="pi pi-spinner pi-spin"></i>
        </ng-container>
        <ng-container *ngIf="!(mfaLoading$ | async)">
            Start
        </ng-container>
    </button>
</div>

<div *ngIf="activeStep === 1 && mfaData$ | async as mfa" class="flex flex-column font-light text-sm text-center">
    <div class="w-full flex flex-column">
        <h2 class="mt-0">Start with using the app</h2>
    </div>

    <p *ngIf="type === 'otp'">
        Please use your authentication app to scan this QR code. Don't have an app yet? Get <a target="blank" href="https://support.google.com/accounts/answer/1066447">Google Authenticator</a> or a similar app supporting TOTP codes.
    </p>

    <div class="flex flex-row justify-content-around my-4">
        <a [href]="mfa.url" target="blank">
            <img style="width: 172px;" [src]="mfa.qrcode" />
        </a>
        <div style="width: 172px; padding: 10px;">
            <div class="h-full border-1 border-gray-300 flex flex-column justify-content-center p-2">
                <small class="mb-3" style="font-size: 10px;">Or manually enter this code on the app</small>
                <code style="letter-spacing: .25px; font-size: 12px;">
                    {{ getSecret(mfa.secret) }}
                </code>
            </div>
        </div>
    </div>

    <div class="flex flex-row">
        <button (click)="backStep()" pButton label="Back" class="p-button-outlined flex-1 mr-2"></button>
        <button (click)="nextStep()" pButton label="Next" class="flex-1"></button>
    </div>
</div>

<div *ngIf="activeStep === 2" class="flex flex-column font-light text-sm text-center">
    <div class="w-full flex flex-column">
        <h2 *ngIf="type === 'otp'" class="mt-0">Enter 6-digit code from the app</h2>
    </div>

    <p *ngIf="type === 'otp'">
        So far so good! Now you should see a 6-digit code on your phone's screen. Enter it here and continue.
    </p>

    <app-otp-form (code)="otpCode = $event"></app-otp-form>

    <ng-container *ngIf="mfaError$ | async as error">
        <span class="text-red">{{ error }}</span>
    </ng-container>


    <div class="flex flex-row mt-6">
        <button (click)="backStep()" pButton label="Back" class="p-button-outlined flex-1 mr-2"></button>

        <button (click)="nextStep()" pButton class="flex-1 justify-content-center no-label">
            <ng-container *ngIf="mfaLoading$ | async">
                <i class="pi pi-spinner pi-spin"></i>
            </ng-container>
            <ng-container *ngIf="!(mfaLoading$ | async)">
                Next
            </ng-container>
        </button>

    </div>
</div>

<div *ngIf="activeStep === 3" class="flex flex-column font-light text-sm text-center">
    <div class="w-full flex flex-column mt-5">
        <p-image src="/assets/images/illustrations/undraw-confirmed.svg" alt="Secure Login" width="50%"></p-image>

        <h2>Success!</h2>
    </div>

    <p *ngIf="type === 'otp'">
        2FA authentication method successfully enabled in your account.
    </p>

    <button (click)="close()" pButton class="mt-5 justify-content-center no-label">
        <ng-container *ngIf="!(mfaLoading$ | async)">
            Done
        </ng-container>
    </button>
</div>