<app-admin-page class="settings-page">
    <span class="title">Tenant Settings</span>

    <p-tabView>
        <p-tabPanel header="General">
            <p-card styleClass="app-card">
                <ng-template pTemplate="content">
                    <h2 class="title">
                        Tenant Information
                    </h2>

                    <section class="mt-3">
                        <h3>Tenant name</h3>
                        <div class="flex flex-row align-items-center">
                            <p class="flex-1">Main</p>
                        </div>
                    </section>
                    <p-divider></p-divider>
                    <section class="mt-3">
                        <h3>Region</h3>
                        <div class="flex flex-row align-items-center">
                            <p class="flex flex-row align-items-center flex-1 font-medium">
                                <img src="/assets/images/european-flag.svg" height="20" class="mr-2" /> EU
                            </p>
                        </div>
                    </section>
                </ng-template>
            </p-card>

            <p-card styleClass="app-card mt-2">
                <ng-template pTemplate="content">
                    <h2 class="title">
                        Settings
                    </h2>

                    ...
                </ng-template>
            </p-card>
        </p-tabPanel>
        <p-tabPanel header="Subscription" [disabled]="true">
            Content 2
        </p-tabPanel>
        <p-tabPanel header="Payment" [disabled]="true">
            Content 3
        </p-tabPanel>
        <p-tabPanel header="Tenant Members">
            <div class="flex flex-row align-items-center justify-content-start">
                <div class="text-md font-medium flex-1">Tenant Members have varying levels of access to the RutsuKun Accounts dashboard based on their Roles, which are set when adding new members and can be edited any time.</div>
                <div class="mx-2">
                    <p-dropdown [options]="memberTypes" optionLabel="name" optionValue="value"></p-dropdown>
                </div>
                <div class="mx-2">
                    <button pButton label="Add member"></button>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</app-admin-page>