::ng-deep .choose-account-card {
    background-color: #fff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3) !important;
    width: 424px;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 8px;
    flex-shrink: 0;
    height: fit-content;
    // min-height: 579px;
     ::ng-deep {
        .p-card-body {
            padding: 0;
            height: 100%;
            .p-card-content {
                padding: 0;
                .title {
                    font-size: 26px;
                    line-height: 32px;
                    font-weight: 600;
                    letter-spacing: -1px;
                    margin: 0;
                }
                .subtitle {
                    margin: 4px 0 0;
                    font-size: 16px;
                    line-height: 21px;
                    min-height: 2px;
                }

                .account-item {
                    user-select: none;
                    &:hover {
                        background: rgba(0,0,0,.1);
                    }
                }
            }
        }
    }
}