<app-admin-page>

    <div class="rk_accounts__card">
        <div class="card__header flex flex-row justify-content-between align-items-center">
            <div>
                <h2 class="my-0">Dashboard</h2>
            </div>
        </div>
        <div class="card__content">

            <section class="mt-5 flex flex-column lg:flex-row w-12" style="gap: 20px;">
                <app-admin-chart-card color="#ffc107" name="Accounts" [value]="420" icon="pi-users"></app-admin-chart-card>
                <app-admin-chart-card color="#0781ff" name="Apps" [value]="1337" icon="pi-table"></app-admin-chart-card>
            </section>

        </div>
    </div>

</app-admin-page>