<div class="chart-card flex flex-column">
    <div class="chart-card-body">
        <div>
            <i class="pi {{ icon }} text-4xl" [ngStyle]="{'color': color}"></i>
        </div>
        <h3 class="mt-1 mb-1 text-3xl">
            {{ value }}
        </h3>
        <p>{{ name }}</p>
    </div>
    <apx-chart [fill]="chartOptions.fill" [grid]="chartOptions.grid" [xaxis]="chartOptions.xaxis" [yaxis]="chartOptions.yaxis" [legend]="chartOptions.legend" [series]="chartOptions.series" [chart]="chartOptions.chart" [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip"
        [dataLabels]="chartOptions.dataLabels"></apx-chart>
</div>