<div class="sidebar">
    <div class="tenant flex flex-row align-items-center justify-content-between rounded-sm mb-3">
      <div class="flex flex-1 flex-row align-items-center">
          <img class="w-2rem rounded-sm mr-2" src="/assets/images/avatars/default-avatar.png" />
          <span class="name font-medium">Master Tenant</span>
      </div>

      <div class="switch-tenant flex justify-content-center align-items-center">
          <i class="pi pi-arrows-v text-lg"></i>
      </div>
    </div>

    <nav class="navigation">

      <div class="navigation-group" *ngFor="let group of navigation">
          <div class="group-label">{{ group.label }}</div>
          <div class="group-links">
              <div class="group-link" *ngFor="let link of group.items" [routerLink]="link.routerLink" [routerLinkActiveOptions]="{exact: false}" routerLinkActive="active" [class.disabled]="link.disabled">
                  <i class="{{ link.icon }} text-xl mr-2"></i> {{ link.label }}
              </div>
          </div>
      </div>

    </nav>
</div>