<div class="signin flex flex-column justify-content-center align-items-center">
    <!-- <div class="headline hidden md:block"> signin flex flex-row justify-content-center md:justify-content-between
        <h1>Welcome in RutsuKun Accounts</h1>
        <p>
            Sign into your RutsuKun account to use the full range of our services and access your data from anywhere. Manage logged sessions, connect to social networks, update personal information, and customize you account the way you like.
        </p>
    </div> -->
    <div class="flex flex-row align-items-center justify-content-around mb-5 card-client-info">
        <img class="logo-dark hidden" src="/assets/images/logo/logo-beta-dark.svg" height="50px" />
        <img class="logo-light" src="/assets/images/logo/logo-light-dev.svg" height="50px" />
        <ng-container *ngIf="flow === 'oauth'">
            <span class="bg-white ml-3 mr-3 separator" style="width: 4px; height: 35px; border-radius: 25px;"></span>
            <div class="flex flex-column align-items-center justify-content-center">

                <ng-container *ngIf="appInfoLoading$ | async">
                    <i class="pi pi-spinner pi-spin text-2xl"></i>
                </ng-container>

                <ng-container *ngIf="!(appInfoLoading$ | async) && appInfoData$ | async as appInfo">
                    <img class="mb-2" width="50" height="50" [src]="appInfo.logo" style="border-radius: 8px;" />
                    <small [pTooltip]="appInfo.name" tooltipPosition="bottom" class="font-medium" style="max-width: 120px;text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">{{ appInfo.name }}</small>
                </ng-container>
            </div>
        </ng-container>
    </div>

    <p-card styleClass="choose-account-card">

        <!-- <ng-container>
            <div class="flex flex-row justify-content-center align-items-center" style="height: 336px;">
                <i class="pi pi-spinner spin text-7xl"></i>
            </div>
        </ng-container> -->
    

        <h2 class="title">
            Choose Account
        </h2>
        <p class="subtitle" *ngIf="appInfoData$ | async as appInfo">
            to go to the application <b>{{ appInfo.name }}</b>
        </p>

        <div class="flex flex-column mt-4" *ngIf="sessions$ | async as sessions">
            <ng-container *ngFor="let session of sessions">
                <div class="account-item flex flex-row align-items-center p-2 rounded-sm cursor-pointer" >
                    <div class="w-1 h-1 rounded mr-2 flex flex-row justify-content-center align-items-center">
                        <img class="w-full h-full rounded" [src]="session.account.picture" />
                    </div>
                    
                    <div class="flex flex-column">
                        <span class="font-bold text-sm line-height-1">{{ session.account.username }}</span>
                        <span class="font-medium text-sm line-height-1">{{ session.account.email }}</span>
                    </div>
                </div>
                <p-divider styleClass="my-1"></p-divider>
            </ng-container>

            <div (click)="goToSignIn()" class="account-item flex flex-row align-items-center px-2 py-3 rounded-sm cursor-pointer">
                <div class="w-1 h-1 rounded mr-2 flex flex-row justify-content-center align-items-center">
                    <i class="pi pi-user"></i>
                </div>
                <span class="font-bold text-sm line-height-1">Sign in to another account</span>
            </div>
        </div>

        <div class="flex flex-row justify-content-center mt-4">
            <span class="text-base text-blue-500 cursor-pointer hover:underline">Or sign in to another account</span>
        </div>

    </p-card>

</div>