.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: #ffffff;
    border-color: #0b30a9;
    color: #0b30a9;
}

:root {
    --primary-color: #ab0f4a;
    --primary-color-hover: #8f0c3e;
    --primary-color-link: #eb1667;
    --primary-color-link-hover: #be1053;
    --discord-color: #5865f2;
    --discord-color-hover: #4954d3;
    --google-color: #ea4235;
    --google-color-hover: #c33329;
    --twitter-color: #1d9bf0;
    --twitter-color-hover: #1b8bd6;
}