/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
@font-face {
    font-family: "Baukasten-Bold";
    src: url("/assets/fonts/HomepageBaukasten-Bold.ttf.woff") format("woff"), url("/assets/fonts/HomepageBaukasten-Bold.ttf.svg#HomepageBaukasten-Bold1") format("svg"), url("/assets/fonts/HomepageBaukasten-Bold.ttf.eot"), url("/assets/fonts/HomepageBaukasten-Bold.ttf.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

@import "./colors.scss";

a {
    color: var(--primary-color-link);
    &:hover {
        color: var(--primary-color-link-hover);
    }
}

html {
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    overflow: auto;
    padding: 0;
    margin: 0;
    color: #fff;
    background-color: #fff;
    font-family: "Inter";

    // &.page-auth::before {
    //     position: fixed;
    //     content: ' ';
    //     height: 100vh;
    //     width: 100vw;
    //     background-color: rgba(0, 0, 0, .3);
    //     display: block;
    //     z-index: 0;
    // }
    &.page-auth {
        background: radial-gradient(94% 58.3% at 50.3% 82.6%, #2a2541 0%, #111013 100%);
    }
    &.admin-portal {
        background: radial-gradient(94% 58.3% at 50.3% 82.6%, #2a2541 0%, #1a0b37 100%);
    }
    &.app-debug-api {
        background: url(https://nanasubs.pl/images/episodes/komi-san-wa-komyushou-desu-3.webp), linear-gradient( 121.55deg, #6c1794 17.34%, #4b006e 113.19%);
        background-blend-mode: normal, normal;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .header {
            color: black;
            .links {
                button {
                    color: black !important;
                }
            }
        }
        .card-client-info {
            color: black;
            .logo-light {
                display: none;
            }
            .logo-dark {
                display: inherit !important;
            }
            .separator {
                background-color: black !important;
            }
        }
        .signin-card,
        .authorize-card {
            background-color: #ffffff99;
        }
    }
    &.test {
        background-image: url("/assets/images/background/auth_ephnell-min.png");
        background-blend-mode: normal, normal;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 100%;
    }
}

a {
    text-decoration: none;
}

h1 {
    font-size: 48px;
    line-height: 58px;
    font-weight: 600;
    letter-spacing: -2px;
    margin: 0;
}

p {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}


.hover\:underline:hover {
    text-decoration: underline;
}

.rounded {
    border-radius: 200px;
}

.spin {
    animation: spin 0.7s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate( 0deg);
    }
    100% {
        transform: rotate( 360deg);
    }
}

.app-card {
    box-shadow: none !important;
    border: 1px solid #dae2ea;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 8px;
    flex-shrink: 0;
    height: fit-content;
    .p-card-content {
        padding: 0;
        .title {
            font-size: 24px;
            line-height: 32px;
            font-weight: 600;
            letter-spacing: -1px;
            margin: 0;
        }
        .social-button {
            border: 0;
        }
        .discord-bg {
            background-color: #5865f2;
        }
        .google-bg {
            background-color: #ea4235;
        }
        .twitter-bg {
            background-color: #1d9bf0;
        }
    }
}

button {
    border: 0;
    outline: none !important;
    box-shadow: none !important;
}

.cursor-pointer {
    cursor: pointer;
}

.google-bg {
    background-color: #ea4235;
}

.discord-bg {
    background-color: #5865f2;
}

.twitter-bg {
    background-color: #1d9bf0;
}

.text-red {
    color: red;
}

.p-dialog .p-dialog-content {
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

app-admin-chart-card {
    flex: 1;
}

.p-avatar {
    img {
        border-radius: inherit;
    }
}

.no-label>.p-button-label {
    display: none;
}
