body.page-account {
    background: #0c0c0c;
    overflow-x: initial;
    height: 100%;
    .p-dialog .p-dialog-header, .p-dialog .p-dialog-content {
        background: #211e1f;
        color: white;
    }
}