<div class="flex flex-row justify-content-between mt-4 mb-2" [formGroup]="inputOtp">
    <input #inputOtpOne pInputText formControlName="one" type="text" maxlength="1" pattern="[0-9]" inputmode="numeric" style="max-width: 56px; height: 56px;" class="text-center">
    <input #inputOtpTwo pInputText formControlName="two" type="text" maxlength="1" pattern="[0-9]" inputmode="numeric" style="max-width: 56px; height: 56px;" class="text-center">
    <input #inputOtpThree pInputText formControlName="three" type="text" maxlength="1" pattern="[0-9]" inputmode="numeric" style="max-width: 56px; height: 56px;" class="text-center">
    <input #inputOtpFour pInputText formControlName="four" type="text" maxlength="1" pattern="[0-9]" inputmode="numeric" style="max-width: 56px; height: 56px;" class="text-center">
    <input #inputOtpFive pInputText formControlName="five" type="text" maxlength="1" pattern="[0-9]" inputmode="numeric" style="max-width: 56px; height: 56px;" class="text-center">
    <input #inputOtpSix pInputText formControlName="six" type="text" maxlength="1" pattern="[0-9]" inputmode="numeric" style="max-width: 56px; height: 56px;" class="text-center">
</div>