<p-card styleClass="multifactor-card">

    <div class="w-full flex flex-column text-center">
        <p-image src="/assets/images/illustrations/undraw-secure-login.svg" alt="Secure Login" width="50%"></p-image>
    </div>


    <h2 class="text-center">
        Multi-factor Required
    </h2>
    <p class="subtitle text-center">
        Now you should see a 6-digit code on your phone's screen. Enter it here and continue.
    </p>

    <div class="form">

        <ng-container *ngIf="formError">
            <span class="error block mb-2">
                {{ formError | translate }}
            </span>
        </ng-container>

        <app-otp-form (code)="otpCode = $event"></app-otp-form>

        <div class="flex flex-column mt-4">
            <!-- multifactor button -->
            <button class="auth-button signup-button flex-1" pButton pRipple (click)="multifactor()" [disabled]="loading">
                <div class="flex flex-row justify-content-center align-items-center w-full">
                    <span *ngIf="loading"
                        class="p-button-icon p-button-icon-left p-button-loading-icon pi pi-spinner pi-spin"
                        aria-hidden="true"></span>

                    Continue
                </div>

            </button>

            <button (click)="logout()" pButton class="p-button-link mt-4" label="Logout"></button>
        </div>

    </div>

</p-card>