.header {
    height: 160px;
    width: 100%;
    max-width: 1228px;
    padding: 0 64px;
    margin: 0 auto;
    flex: none;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main {
    max-width: 1228px;
    height: 680px;
    width: 100%;
    min-height: calc(100vh - 160px - 64px);
    max-width: 1228px;
    margin: 0 auto;
    padding: 0 64px 64px;
}