<app-admin-page>
    <span class="title">Groups</span>

    <p-table [value]="groups" dataKey="name" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem"></th>
                <th pSortableColumn="name">Name
                    <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="name">Display name
                    <p-sortIcon field="display_name"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-group let-expanded="expanded">
            <tr>
                <td>
                    <button type="button" pButton pRipple [pRowToggler]="group" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                </td>
                <td>{{group.name}}</td>
                <td>{{group.display_name}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-group>
            <tr>
                <td colspan="7">
                    <div class="p-p-3">
                        <p-table [value]="group.accounts" dataKey="uuid" responsiveLayout="scroll">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 4rem">
                                        Avatar
                                    </th>
                                    <th pSortableColumn="username">Username
                                        <p-sortIcon field="username"></p-sortIcon>
                                    </th>
                                    <th style="width: 4rem">
                                        <button pButton class="p-button-sm" icon="pi pi-user-plus" label="Add"></button>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-account>
                                <tr>
                                    <td>
                                        <p-avatar styleClass="p-mr-2" size="large" [image]="account.avatar"></p-avatar>
                                    </td>
                                    <td>{{account.username}}</td>
                                    <td>
                                        <button pButton class="p-button-sm p-button-danger" icon="pi pi-user-minus" label="Kick"></button>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="6">There are no accounts for this group yet.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</app-admin-page>